[2014-01-26 15:37] Fsu0413 opened #2 "遗志这种写法导致在使用遗志发动观星时不会亮将"
………………

[2014-01-26 19:19] YanGuam opened #3 "无法联机"
PC甲运行两个神杀并且有公网IP， PC乙无法连接PC甲的服务器，但是PC甲可以通过公网IP自联 原因不明。

[2014-01-26 19:21] YanGuam opened #4 "于吉回合结束崩溃"
rt 细节待补充

[2014-01-26 19:22] YanGuam opened #5 "二张直谏引发崩溃"
细节待补充

[2014-01-26 19:24] YanGuam commented on #2
天覆和观星有什么关系...

[2014-01-26 19:28] YanGuam opened #6 "改进手牌框的头像"
两个武将的头像应该分开……
分两个技能按键区域
待完成

[2014-01-26 19:29] YanGuam opened #7 "对贾诩使用一张黑色兵粮寸断崩溃"
rt

[2014-01-27 05:00] Fsu0413 commented on #2
好吧我的typo……是yizhi

[2014-01-27 08:04] hejun442001 opened #8 "AI崩坏了~只会弃牌过了~"
AI代码要整理了~

[2014-01-27 08:30] hejun442001 commented on #8
举出几个问题
1：
lua/ai/smart-ai.lua:4288: attempt to call method 'getGuhuoCard' (a nil value)
activate
stack traceback:
    lua/ai/smart-ai.lua:166: in function <lua/ai/smart-ai.lua:146>
2：
lua/ai/standard-ai.lua:492: attempt to call method 'needBear' (a nil value)
askForSkillInvoke
stack traceback:
    lua/ai/smart-ai.lua:166: in function <lua/ai/smart-ai.lua:146>
3：
ua/ai/standard_cards-ai.lua:52: att

[2014-01-27 08:31] Fsu0413 commented on #8
着什么急……

[2014-01-27 08:32] Fsu0413 commented on #8
等技能写完了bug处理的差不多了就该到AI了

[2014-01-27 11:48] Fsu0413 commented on #3
invalid...

[2014-01-27 11:48] #3 closed, assigned to nobody

[2014-01-27 17:14] #2 closed, assigned to nobody

[2014-01-27 19:32] #7 closed, assigned to nobody

[2014-01-27 19:32] BeginnerSlob opened #9 "暗置后应该重绘对应武将技能按钮"

[2014-01-27 19:33] BeginnerSlob opened #10 "己方武将暗置时应加个深色半透明图层"

[2014-01-27 19:33] BeginnerSlob opened #11 "小型视图skins文件修改"

[2014-01-28 00:50] BeginnerSlob opened #12 "移除副将（嗯）"
这个方法我醒来之后会写= =如果我醒得来的话

[2014-01-28 06:14] #12 closed, assigned to nobody

[2014-01-28 07:23] YanGuam commented on #11
求详情

[2014-01-28 07:24] YanGuam commented on #9
fixed c18d3d66e02279ccbe6547f4f28f5c481a29ca4b

[2014-01-28 07:24] #9 closed, assigned to nobody

[2014-01-29 00:15] Fsu0413 opened #13 "飞龙不会被君刘备收走"
rt

[2014-01-29 00:52] BeginnerSlob commented on #13
重现不能，可能主机版本问题，先关了

[2014-01-29 00:52] #13 closed, assigned to nobody

[2014-01-29 06:30] #4 closed, assigned to nobody

[2014-01-29 06:30] #5 closed, assigned to nobody

[2014-01-29 16:11] Fsu0413 opened #14 "无限限定技"
如马腾邹氏双将，马腾先亮将发动xiongyi，邹氏祸水亮将，之后便可以无限xiongyi

[2014-01-29 16:13] Fsu0413 commented on #14
换成别的有回合内主动技能的，比如马腾/貂蝉，也可以无限xiongyi

[2014-01-29 16:23] YanGuam commented on #14
没有主动技动就不能无限？

[2014-01-30 01:10] Fsu0413 commented on #14
@YanGuam 估计也可以……没试过

[2014-01-30 01:33] Fsu0413 commented on #14
fixed

[2014-01-30 01:33] #14 closed, assigned to nobody

[2014-01-30 01:36] BeginnerSlob opened #15 "勇决不能收队友的杀"

[2014-01-30 01:36] BeginnerSlob opened #16 "弘法出杀有问题"

[2014-01-30 02:23] BeginnerSlob commented on #15
fixed

[2014-01-30 02:23] #15 closed, assigned to nobody

[2014-01-30 04:55] Fsu0413 commented on #16
现在只有邹氏不能使用弘法出杀

[2014-01-30 17:54] YanGuam commented on #6
completed. 69d8a0ba51048bd72f89143cc9c519aab84166e2

[2014-01-30 17:54] #6 closed, assigned to nobody

[2014-01-31 08:25] Fsu0413 commented on #16
fixed

[2014-01-31 08:25] #16 closed, assigned to nobody

[2014-01-31 12:03] YanGuam opened #17 "RoomThread崩坏 放下手头任务 协助虫妹抢修"
一行一行测    这个坏了其他的再强也没有意义...

[2014-01-31 12:12] Fsu0413 commented on #17
fixed

[2014-01-31 12:12] #17 closed, assigned to BeginnerSlob

[2014-01-31 12:26] YanGuam commented on #10
accepted

[2014-01-31 12:36] Fsu0413 opened #18 "LUA接口补全计划"
我自己来弄吧，有些函数貌似要小修

[2014-01-31 14:05] YanGuam commented on #10
completed db3b7f3886fe1feaed270d90cef34466e5a1ac84

[2014-01-31 14:05] #10 closed, assigned to nobody

[2014-01-31 14:23] YanGuam opened #19 "调整photo"
任务我接了- -

[2014-01-31 14:23] #11 closed, assigned to nobody

[2014-01-31 14:26] YanGuam opened #20 "添加潜伏蒙版"

[2014-01-31 14:27] YanGuam commented on #20
accepted

[2014-01-31 16:10] Fsu0413 commented on #18
临时搭了个lua接口，不知道有没有bug，使用是否舒服，特此请求各路lua大神测试

[2014-02-01 15:20] YanGuam opened #21 "视为技预亮后不可恢复为未预亮"
确诊为按键问题

[2014-02-01 15:28] Fsu0413 commented on #21
而且如果是触发技+视为技，则到了触发时机，如果未预亮的话则永远无法预亮

[2014-02-01 16:45] YanGuam commented on #20
completed 6e42afe39bb10cce50c99d18f5b9517f364a00ba

[2014-02-01 16:45] #20 closed, assigned to YanGuam

[2014-02-01 16:47] YanGuam commented on #21
accepted

[2014-02-01 16:55] Fsu0413 commented on #18
今天又修了几个LUA接口的bug，不过现在的问题是程序退出时由于未知函数作用导致闪退，目前原因不明

[2014-02-02 05:47] BeginnerSlob opened #22 "暗将编号难以确认"
我建议是在getPlayerName()直接改，如果player是双暗将，就返回player的玩家名（因为返回几号位也不够直观，你并不知道自己是几号位）= =但是找不到相关代码

[2014-02-02 05:48] BeginnerSlob commented on #22
谁来拯救一下= =

[2014-02-02 11:57] YanGuam commented on #22
我会在UI上提示是几号位

[2014-02-02 12:01] YanGuam commented on #19
completed. 370eb5e21f34b6426fe4ae08c2afbe724f226e8a

[2014-02-02 12:01] #19 closed, assigned to YanGuam

[2014-02-02 12:02] YanGuam commented on #21
fixed 73a2e4eabec5a3cac3244a4b250ceeda60e97323

[2014-02-02 12:02] #21 closed, assigned to nobody

[2014-02-03 08:24] Fsu0413 opened #23 "君刘备在场龙胆无效"
目测按钮重写之后触发技的问题，因为在按钮重写之前技能没有问题。
曾经尝试更改技能，不过以失败告终。

[2014-02-03 08:28] Fsu0413 opened #24 "亮将后托管，潜伏图片会重新出现"
rt

[2014-02-03 08:30] Fsu0413 commented on #24
还有一层黑色半透明的东西也会出现

[2014-02-03 10:41] Fsu0413 commented on #23
就是那些不能预亮的触发技带视为技全部无效

[2014-02-03 12:56] YanGuam commented on #24
accepted

[2014-02-03 12:57] YanGuam commented on #23
accepted

[2014-02-03 13:19] Fsu0413 opened #25 "据说雄异有bug不能回血"
先放在这里，过几天看看是否有人反馈再进行调查
此技能不准备使用统一函数，因为张角的那个技能太坑了

[2014-02-03 13:56] Sanluli36li opened #26 "亮将后被铁索后那么被铁索的人自己看自己是暗置的"

[2014-02-03 14:02] Sanluli36li opened #27 "技能按钮按不了是什么情况比如天义"
。。。

[2014-02-03 14:12] Fsu0413 commented on #27
#23

[2014-02-03 14:12] Fsu0413 commented on #26
#24

[2014-02-03 14:17] #26 closed, assigned to nobody

[2014-02-03 14:17] #27 closed, assigned to nobody

[2014-02-03 15:12] Fsu0413 commented on #18
开始编辑extension-doc……

[2014-02-03 16:00] YanGuam commented on #23
fixed. 3b85e6de2898b168652881ba53364ecef92b2492

[2014-02-04 03:52] Fsu0413 commented on #23
双雄依旧无效，reopen

[2014-02-04 04:08] BeginnerSlob opened #28 "发动观星排完顺序以后点确定游戏崩溃"
应该是按键或者box

[2014-02-04 08:27] BeginnerSlob commented on #28
同样情况的还有悟心（UpOnly）
恂恂（DownOnly）则没有问题

[2014-02-04 08:31] BeginnerSlob commented on #24
部分情况下技能按钮预亮状态和显示状态恰好相反：
重现方法：甄姬主将，夏侯渊副将，夏侯渊处于非预亮状态，
回合开始，出现亮将与预亮选框，此时预亮夏侯渊，然后发动洛神（或展示主将），然后不展示副将，然后BUG重现，神速半透明时，潜伏字样消失，神速不透明时，潜伏字样出现，此时字样显示的为正确状态，即按钮图片与实际情况恰好相反

[2014-02-04 10:22] BeginnerSlob commented on #25
正常回血，没有问题

[2014-02-04 10:22] #25 closed, assigned to nobody

[2014-02-04 10:47] BeginnerSlob opened #29 "飞龙夺凤杀死角色后变身不能"
询问是否变身时双方同意后，被杀死角色若原本不是蜀国，则无法选择蜀国角色（可能与askForGeneral中的同国机制有关）
PS：似乎用changeHero有些不妥？

[2014-02-04 11:00] BeginnerSlob commented on #29
askForGeneral的部分我修了，但是changeHero似乎不妥？

[2014-02-04 12:58] Fsu0413 commented on #29
不用changeHero的话，我实在不知道应该用什么

[2014-02-04 13:14] YanGuam commented on #29
额外设置一下势力

[2014-02-04 13:47] Fsu0413 commented on #29
势力设置了啊

[2014-02-04 16:33] YanGuam commented on #23
fixed. 4a6599e4900478d79ed7f1ee662ebde00efb5b34
Remove the temp branch.

[2014-02-04 16:33] #23 closed, assigned to nobody

[2014-02-04 16:48] YanGuam commented on #28
accepted

[2014-02-05 00:04] BeginnerSlob commented on #29
= =主要问题是技能。。

[2014-02-05 00:30] Fsu0413 commented on #29
changeHero后技能无效我也发现了……但是我还不知道技能无效的原因…………

[2014-02-05 01:02] BeginnerSlob commented on #29
现在UI上已经正常了（除了主将技能按钮在副将上）
除此以外，玩家拥有技能还是原有技能，新技能只存在于UI上

[2014-02-05 01:59] Fsu0413 commented on #28
不是UpOnly或者DownOnly的问题，是观星框的clear部分调用了一段不正确的代码导致如果观星之前用过五谷框则没有问题
fixed

[2014-02-05 01:59] #28 closed, assigned to nobody

[2014-02-05 10:34] YanGuam commented on #29
accepted.   ——司马氏老中医  专治疑难杂症三十年

[2014-02-05 12:13] Fsu0413 opened #30 "叠置"
![6 7 755 kzgu rhfb](https://f.cloud.github.com/assets/4150545/2086780/d6ad5ae0-8e5e-11e3-9962-4a2b13f00cd8.jpg)

[2014-02-05 13:02] hejun442001 commented on #30
其实我有个建议，不过工程浩大：
叠置是用画中画显示。

[2014-02-05 13:25] YanGuam commented on #30
@hejun442001   嗯哼？   具体是什么样的呢

[2014-02-05 13:25] YanGuam commented on #30
accepted.

[2014-02-05 13:34] YanGuam commented on #30
ok   未来改成两个武将图相叠加。

[2014-02-05 15:13] Fsu0413 opened #31 "takeag的卡牌移动位置问题"
貌似在5谷框修改了之后takeag的卡牌移动的位置会有问题

[2014-02-05 15:14] Fsu0413 commented on #31
这个问题不是很好说明，可以打开一局游戏，使用一张五谷丰登，观察卡牌的走向

[2014-02-05 16:22] YanGuam opened #32 "清理无用代码与资源"
核心组件开发进入尾声，可以精简一下了

[2014-02-05 16:27] Fsu0413 commented on #32
资源已经精简的差不多了，图片我不知道怎么弄的，配音是我移动走之后一个一个对照技能表移动回来的，没用的都删了

[2014-02-05 16:31] seasonmusic opened #33 "刘备对咆哮无效果，糜夫人的勇决不是全国光环"
如题

[2014-02-05 16:36] seasonmusic commented on #33
另外刘备对黄忠也没有效果

[2014-02-05 17:02] Fsu0413 commented on #33
黄忠没有问题，勇决fixed，咆哮的问题是因为隐藏技能不触发，不知道什么原因

[2014-02-05 17:09] Fsu0413 commented on #33
咆哮对无视防具的效果改为全局技能，fixed

ps:昨晚真的是糊涂了…………

[2014-02-05 17:09] #33 closed, assigned to nobody

[2014-02-06 04:25] BeginnerSlob opened #34 "判断身份可以考虑用OL的排除法方式= =。已有方式太过蛋疼，很难标清楚"
RT

[2014-02-06 06:03] Fsu0413 commented on #32
server.cpp里无用的选项都删掉了

[2014-02-06 06:45] YanGuam commented on #29
fixed. 52bd2b3556385a0516fee11c7375856c6c32d00b

[2014-02-06 06:45] #29 closed, assigned to YanGuam

[2014-02-06 07:02] YanGuam commented on #31
看不出来= =

[2014-02-06 07:02] YanGuam commented on #31
倒是卡牌是从框下面的图层过去的

[2014-02-06 07:31] hejun442001 commented on #30
@YanGuam ： 具体是什么样的呢？
叠置就像神杀老板（v1版）的效果：副将在圆环中的那个。
平置就就用现在的。
问题是主视角的头像咋处理？

[2014-02-06 07:32] Fsu0413 commented on #31
为什么几天前的版本看的特别明显…………

[2014-02-06 07:41] YanGuam commented on #31
....

[2014-02-06 07:41] #31 closed, assigned to nobody

[2014-02-06 07:43] YanGuam commented on #30
不太好处理

[2014-02-06 07:57] YanGuam commented on #8
AI修复已启动

[2014-02-06 07:57] #8 closed, assigned to nobody

[2014-02-06 08:21] BeginnerSlob commented on #30
还是改成主副将相互叠加吧。。。

[2014-02-06 08:22] BeginnerSlob commented on #22
姑且算是完成一半了吧- -

[2014-02-06 09:41] #24 closed, assigned to YanGuam

[2014-02-06 11:35] Fsu0413 opened #35 "投降有bug，目前按照身份局结算的"
暂时不处理这个问题，有些人认为留着这个bug的投降很好的
我晕………………

[2014-02-06 11:35] omnisreen commented on #35
还是走平局好= =

------------------ 原始邮件 ------------------
发件人: "Fsu0413";
发送时间: 2014年2月6日(星期四) 晚上7:35
收件人: "Fsu0413/QSanguosha-For-Hegemony";
主题: [QSanguosha-For-Hegemony] 投降有bug，目前按照身份局结算的 (#35)

暂时不处理这个问题，有些人认为留着这个bug的投降很好的
 我晕………………

&mdash;
Reply to this email directly or view it on GitHub.

[2014-02-06 11:36] Fsu0413 commented on #35
@omnisreen 我也感觉走平局好………………

[2014-02-06 12:00] YanGuam commented on #35
平局吧- -

[2014-02-06 12:40] YanGuam opened #36 "体力条算法问题"
![201426203938](https://f.cloud.github.com/assets/3531837/2098400/d92c5906-8f2b-11e3-8bca-bcbf7292a017.jpg)
![201426203954](https://f.cloud.github.com/assets/3531837/2098401/d92e0ba2-8f2b-11e3-915d-5472fd81cdc5.jpg)
负体力时会出现多的阴阳鱼

[2014-02-06 12:42] YanGuam commented on #22
accepted.

[2014-02-06 13:10] Fsu0413 commented on #35
突然发现修改Room::makeSurrender()函数会影响单机……wontfix

[2014-02-06 13:21] BeginnerSlob opened #37 "断线重连后性别没有notify，离间失效"
= =标题只是推测，不负一切责任xD，但是离间失效是已知结果。

[2014-02-06 14:42] #37 closed, assigned to nobody

[2014-02-06 18:27] #22 closed, assigned to YanGuam

[2014-02-07 08:36] #30 closed, assigned to YanGuam

[2014-02-07 18:36] #36 closed, assigned to YanGuam

[2014-02-07 19:07] YanGuam commented on #34
accepted.

[2014-02-08 09:09] Fsu0413 commented on #18
extension-doc计划放弃，已删除以前旧的废弃不用的接口，等待实测，issue关了，有问题开新issue

[2014-02-08 09:09] #18 closed, assigned to Fsu0413

[2014-02-08 09:10] Fsu0413 commented on #32
旧的Scenario已经被干掉，GuhuoDialog被干掉

[2014-02-08 16:32] BeginnerSlob opened #38 "读条的问题，据说OL就算预亮了，读条也是全场的。。"
。。不预亮就不读条，预亮了就读全场条。。。。
PS:有新ISSUE了，而且不好修啊。。

[2014-02-08 16:41] YanGuam commented on #38
未亮将的cost询问 进行全场读条 如何？

[2014-02-08 17:06] Fsu0413 commented on #38
只要对未亮将的询问，除了activate之外，都是全场读条，怎样

[2014-02-08 17:19] BeginnerSlob commented on #38
@Fsu0413 不可行，因为还有askForChoice之类的，啦啦思路可行= =

[2014-02-09 06:30] BeginnerSlob commented on #38
fixed

[2014-02-09 06:30] #38 closed, assigned to nobody

[2014-02-09 12:18] #34 closed, assigned to YanGuam

[2014-02-09 12:18] Fsu0413 opened #39 "完善extension-doc"

[2014-02-09 13:14] BeginnerSlob opened #40 "选将框=。="
GG

[2014-02-09 14:44] YanGuam opened #41 "司马懿/荀彧 反馈询问了两次"

[2014-02-09 15:08] Fsu0413 commented on #41
fixed

[2014-02-09 15:08] #41 closed, assigned to nobody

[2014-02-09 15:12] YanGuam opened #42 "ID太长导致难@"
标题卖萌- -           ID太长会遮住座位号...     我觉得如果ID超过8位就应该砍掉...

[2014-02-09 15:12] Fsu0413 opened #43 "AI会选君主当副将"
我弄了半天不知道怎么回事

[2014-02-09 15:14] Fsu0413 opened #44 "有时君张角天兵会丢失，原因未知"

[2014-02-09 16:32] Fsu0413 commented on #44
skill trigger时变量的个数判断问题，由于有锁定技时不会有“不发动技能”的选项，因此个数判断出错

[2014-02-09 16:44] Fsu0413 commented on #44
fixed

[2014-02-09 16:44] #44 closed, assigned to nobody

[2014-02-10 06:59] hejun442001 commented on #43
ai选将策略的问题！
但我不是到应该如何fix

[2014-02-11 11:05] BeginnerSlob commented on #43
似乎解决了？

[2014-02-11 11:35] hejun442001 opened #45 "我这边ai选将陆逊+周泰"
![qq20140211193405](https://f.cloud.github.com/assets/975086/2136356/7d1d5032-9310-11e3-90af-ff590c16074b.png)
10人局~
log稍后~

[2014-02-11 11:37] hejun442001 opened #46 "搞错~"
搞错~
please close！

[2014-02-11 11:37] #46 closed, assigned to nobody

[2014-02-11 11:41] #35 closed, assigned to nobody

[2014-02-11 11:42] BeginnerSlob commented on #45
= =？什么问题？

[2014-02-11 12:06] #42 closed, assigned to nobody

[2014-02-12 01:08] hejun442001 commented on #45
对不起  一直以为周泰是蜀将   我晕~

[2014-02-12 01:08] #45 closed, assigned to nobody

[2014-02-12 05:28] BeginnerSlob commented on #43
= =没遇到了，姑且算是解决了。

[2014-02-12 05:28] #43 closed, assigned to nobody

[2014-02-14 09:57] Fsu0413 opened #47 "Some Questions about Compiling in Linux"
http://tieba.baidu.com/p/2866304783 @pansz

[2014-02-14 17:52] Fsu0413 opened #48 "贴吧反馈0.5.1版本bug记录列表"
ai：
- [x] 1.AI 马腾 甘夫人 祝融不发动技能
- [ ] 2.黄盖手里有连弩，杀不到人会盲目自杀

程序本身：
- [ ] 1.有时程序会突然跑满一个核的cpu
- [ ] 2.changehero不加limitmark
- [x] 3.偶尔的南蛮卡死（目测君张角引起的）
- [x] 4.回放录像闪退
- [x] 5.突袭恂恂同时发动，涅槃激诏同时发动
- [x] 6.张辽容易引起卡牌

[2014-02-14 20:14] YanGuam commented on #48
解决的打勾划掉

[2014-02-14 23:37] BeginnerSlob commented on #48
第五条我是特意设置的- -，如果不要飞龙把卡牌包关掉就好了。。。我关了。

[2014-02-14 23:38] BeginnerSlob commented on #48
第九条我目前为止遇到了两次，似乎是存档概率性损坏。

[2014-02-15 03:06] Fsu0413 commented on #48
取消崩溃在gui上，目测是CardsMoveStruct传输错误

补充……不在gui上，在服务器里……服务器把move.from传错了……

[2014-02-15 04:44] BeginnerSlob commented on #48
第2条除了断粮好像都解决了 - -GG

[2014-02-15 12:44] Fsu0413 opened #49 "cost里askForUseCard的技能要开发新接口"
避免突袭恂恂同时发动问题

[2014-02-15 12:46] Fsu0413 commented on #49
![qq20140215204602](https://f.cloud.github.com/assets/4150545/2177831/2a6bc864-963f-11e3-8d14-e7dee1a3fd94.png)

[2014-02-15 13:00] BeginnerSlob commented on #49
= =所以说一次执行所有消耗是不合理的= =但是这两个技能一起发动是合理的吧= =

[2014-02-15 13:14] Fsu0413 commented on #49
这两个技能都是放弃摸牌为消耗，所以只能发动一个

[2014-02-15 13:26] YanGuam commented on #40
close #40

[2014-02-15 13:26] #40 closed, assigned to YanGuam

[2014-02-15 17:31] BeginnerSlob opened #50 "离间无法选择本应该可以选择的目标"
无法重现。

[2014-02-15 17:32] Fsu0413 commented on #50
![qq20140129223413](https://f.cloud.github.com/assets/4150545/2178429/30254cee-9667-11e3-8eeb-fe5fb9dc54b7.png)
如果两周之后没有bug报告这件事就close

[2014-02-17 02:21] BeginnerSlob commented on #49
我选的执行一个cost紧接着执行一个effect比较合理，我决定动手改了，@Fsu0413 @YanGuam 可行么？

[2014-02-17 03:05] Fsu0413 commented on #49
cost是技能消耗，按照插入结算原则，肯定是倒序结算的

[2014-02-18 03:36] BeginnerSlob commented on #49
但是没有任何规定说明必须所有同时机技能执行完消耗以后，才依次结算效果啊

[2014-02-19 04:47] Fsu0413 opened #51 "现在版本的界面有点小问题"
估计是界面update之后导致QSS失效
暂时把最近一次界面改动revert了，开了个新branch放原来的代码

[2014-02-19 04:52] Fsu0413 commented on #51
![qq20140219125133](https://f.cloud.github.com/assets/4150545/2203510/9a7ad836-9921-11e3-8b24-3a362004b4b8.png)

[2014-02-19 17:28] BeginnerSlob opened #52 "五谷框很容易导致内存占用飚到2G"

[2014-02-19 17:30] BeginnerSlob opened #53 "邹氏回合暗将卧龙可以看破-亮将"

[2014-02-19 23:51] Fsu0413 commented on #53
AI?

[2014-02-19 23:51] Fsu0413 commented on #53
哦，我想起来了，enabledatnullification的问题

[2014-02-19 23:56] Fsu0413 commented on #53
fixed

[2014-02-19 23:56] #53 closed, assigned to nobody

[2014-02-20 05:11] Fsu0413 commented on #49
暂时用了个很囧的方法解决了这个问题，不用开新接口了

[2014-02-20 05:11] #49 closed, assigned to nobody

[2014-02-20 11:14] Fsu0413 opened #54 "Room::moveCards()遇到君刘备手牌中飞龙夺凤会卡牌"
原因分析：moveCards()函数为两段处理，第一段处理把牌放到处理区，君刘备失去飞龙，触发章武置入摸牌堆（或者其他技能置于其他地方），而第二段处理获得手牌之前没有判断牌是否在处理区，导致notify到手牌或服务器凭空少牌导致卡牌

[2014-02-21 10:12] #54 closed, assigned to nobody

[2014-02-22 19:04] YanGuam commented on #51
fixed. 3f28ec0f57540ffc6cbc143739f5e36888cfbcec

[2014-02-22 19:04] #51 closed, assigned to YanGuam

[2014-02-24 09:33] Fsu0413 opened #55 "LUA内存管理不善，出现了很多内存泄露"
玩一局游戏泄露155MB内存

[2014-02-24 11:49] Fsu0413 commented on #50
没收到反馈，close，等不及了

[2014-02-24 11:49] #50 closed, assigned to nobody

[2014-03-08 11:59] #48 closed, assigned to nobody

[2014-03-08 11:59] #52 closed, assigned to nobody

[2014-03-08 12:00] Fsu0413 opened #56 "准备删掉Player::getRole()"
更改野心家的实现方法

[2014-03-14 10:29] Fsu0413 opened #57 "Mac下服务器客户端不同步，没法玩"
具体表现为客户端发的东西服务器收不到

[2014-05-05 01:00] Fsu0413 commented on #57
不对……是服务器发的东西客户端收不到，用mac做服务器，Windows连接上可以正常玩，Windows做服务器的话mac连接会丢包

[2014-05-05 01:00] Fsu0413 commented on #47
没问题了…………

[2014-05-05 01:00] #47 closed, assigned to nobody

[2014-05-05 01:00] #32 closed, assigned to Fsu0413

[2014-05-10 09:27] Fsu0413 commented on #50
知道问题所在了……fixed

[2014-05-10 14:23] YanGuam commented on #57
新成员的平台是OSX...        可以等他加入后把OSX的部分交给他负责

[2014-05-11 12:31] YanGuam opened #63 "属性伤害AI"
只要连子连着自己人跟敌人，不管自己人多还是敌人多，哪怕对自己很不利，AI也要属性伤害去搞自己或自己人。
![](http://imgsrc.baidu.com/forum/w%3D580/sign=32ae418a9b25bc312b5d01906ede8de7/ae015b2c11dfa9ec9548c25360d0f703908fc166.jpg)
By 河大第三任校长![](http://tb.himg.baidu.com/sys/portrait/item/f96ebad3b4f3b5dac8fdc8ced0a3b3a4d427)

[2014-05-11 12:32] YanGuam commented on #63
@QSanguosha-Rara/ai-team

[2014-05-11 12:45] YanGuam opened #64 "帷幕AI"
![](http://imgsrc.baidu.com/forum/w%3D580/sign=e39baa3041a98226b8c12b2fba83b97a/2a14abefce1b9d16f5a5b224f1deb48f8d546462.jpg)AI问题。对已经亮将的贾诩是用黑色的知己知彼。

By X随风94 ![](http://tb.himg.baidu.com/sys/portrait/item/550c58cbe6b7e73934a10c)

可能已解决，7日内未收到相同反馈就close
@QSanguosha-Rara/ai-team

[2014-05-11 12:51] YanGuam opened #65 "乱武AI"
AI贾诩乱武的时机.........蛮有疑问的......

By abc36952000 ![](http://tb.himg.baidu.com/sys/portrait/item/a8146162633336393532303030e33e)

@QSanguosha-Rara/ai-team

[2014-05-11 12:55] YanGuam opened #66 "AI身份判断"
常常看到明将AI把暗将打死(未使用知己知彼且暗将未跳势力)，结果翻开是同国的悲剧...这是正常的思路吗...?另外，AI现在似乎不会看大势?

By abc36952000 ![](http://tb.himg.baidu.com/sys/portrait/item/a8146162633336393532303030e33e)

@QSanguosha-Rara/ai-team

[2014-05-11 12:58] YanGuam opened #67 "枭姬AI"
孙尚香枭姬AI，不知道是不是个例。
![](http://imgsrc.baidu.com/forum/w%3D580/sign=4f8dc3b1b54543a9f51bfac42e168a7b/cc3d7ac6a7efce1b6182d58fad51f3deb58f6518.jpg)

回复 Fsu0413 :我的意思是这时候他应该选择只弃一张装备，这样才是正常的打法。不浪费一张装备。。。

By [李高123456789](http://tieba.baidu.com/home/main?un=%C0%EE%B8%DF123456789&fr=pb) ![](http://tb.himg.baidu.com/sys/portrait/item/deadc0eeb8df313233343536373839240c)

@QSanguosha-Rara/ai-team

[2014-05-11 12:59] Fsu0413 commented on #57
@YanGuam 在高城改完JsonValue之后再试试看看还有没有这情况…………

[2014-05-11 13:05] YanGuam opened #68 "仁德AI"
刘备有队友不会仁德，直接弃牌

By [1214624702](http://tieba.baidu.com/home/main?un=1214624702&fr=pb) ![](http://tb.himg.baidu.com/sys/portrait/item/252e313231343632343730321b14)

@QSanguosha-Rara/ai-team

[2014-05-11 13:06] YanGuam commented on #68
一周后未接到反馈直接close

[2014-05-11 13:14] YanGuam commented on #63
![](http://imgsrc.baidu.com/forum/w%3D580/sign=e55dcbba39c79f3d8fe1e4388aa0cdbc/0dddd5f9d72a6059094d6f5f2a34349b023bba6c.jpg)
AI自杀把能赢的牌打输了，敢再2B点么，三人连，都一血，还火杀

By uplink_wkj

[2014-05-11 14:43] YanGuam opened #69 "疑城AI"
小乔五谷拿了一张明牌黑桃，被杀疑城弃黑桃，不![](http://imgsrc.baidu.com/forum/w%3D580/sign=9d7f249a74094b36db921be593cd7c00/42c58682b9014a905ad19cf8ab773912b11beedf.jpg)天香导致自己死亡

By mfdsrax2

@QSanguosha-Rara/ai-team

[2014-05-11 14:46] YanGuam opened #70 "诸葛连弩AI"
关羽装麒麟弓，手牌有连弩，先装连弩再开杀，我觉得是我的话，会先用麒麟弓杀，然后再装连弩继续杀
![](http://imgsrc.baidu.com/forum/w%3D580/sign=4e758527fa1986184147ef8c7aec2e69/bc2c9525bc315c60c9c66ba98fb1cb1348547773.jpg)

By mfdsrax2

@QSanguosha-Rara/ai-team

[2014-05-11 14:48] YanGuam commented on #63
10人局
蒋钦/董袭&陈武
我把自己和下下家的贾诩/纪灵连起来了，我下家丁奉/香香用火杀杀贾诩和我

想用属性和铁索造成两次伤害的想法是不错，但是得看位置啊，这样一来差点让我掉了两血，望修复这AI。(无截图，有记录，看不了)

By 开国大佬

[2014-05-11 14:51] YanGuam opened #71 "飞龙夺凤AI"
用飞龙杀AI，AI弃牌似乎不会弃装备，比如曹洪张辽装青钢，手牌闪，他宁愿弃闪也不弃青钢，最终死亡
![](http://imgsrc.baidu.com/forum/w%3D580/sign=a47b43e15bee3d6d22c687c373176d41/6715933df8dcd1004fe7a867708b4710b8122f4b.jpg)

By mfdsrax2

@QSanguosha-Rara/ai-team

[2014-05-11 16:35] YanGuam opened #72 "游戏未开始时的副将头像"
现阶段空空的很难看，打算实现如下效果：
在副将框显示与主将头像同势力的头像

个人建议此时的副将头像用各势力夫妻代表的合影（曹丕/甄姬、诸葛亮/黄月英、周瑜/小乔、吕布/貂蝉）不过这4张图制作成头像的难度不小

程序逻辑由 @QSanguosha-Rara/core-team 实现
图片辛苦 @QSanguosha-Rara/art-team 了

[2014-05-11 16:37] YanGuam commented on #72
如果夫妻头像难以完成可以考虑用大号势力logo代替

[2014-05-11 16:39] YanGuam opened #73 "新增SP周瑜以及SP小乔"
@QSanguosha-Rara/core-team  加入SP周瑜及小乔及替换选项

@QSanguosha-Rara/art-team   制作一套武将图

[2014-05-11 16:40] YanGuam opened #74 "游戏卡牌更新"
将所有手牌的白边去除

@QSanguosha-Rara/art-team

[2014-05-11 19:15] YanGuam opened #75 "英魂AI"
孙策为何不英魂我？
![](http://imgsrc.baidu.com/forum/w%3D580/sign=bee3fbaff0d3572c66e29cd4ba126352/a1cd4d34970a304e912d0cbcd3c8a786c8175cbf.jpg)

By mfdsrax2

@QSanguosha-Rara/ai-team

[2014-05-11 19:16] YanGuam commented on #75
存在误报可能   7天后无相同反馈直接close

[2014-05-12 08:12] Fsu0413 commented on #73
可以用残留的皮肤功能做啊

[2014-05-13 23:33] Fsu0413 opened #76 "VS2010 IDE环境下，Qt X64无法编译"
已安装64位环境，在Qt Creator中使用64位VS编译器编译没有问题

[2014-05-13 23:34] Fsu0413 commented on #76
也就是说使用VS2010打开sln，选择X64配置编译失败

[2014-05-14 11:42] takashiro commented on #76
正在部署VS2010还有对应的Qt库，看看什么情况0.0

[2014-05-15 11:40] Fsu0413 commented on #76
fixed

[2014-05-15 11:40] #76 closed, assigned to nobody

[2014-05-17 14:23] YanGuam commented on #73
残留的皮肤太dirty

[2014-05-17 15:12] Fsu0413 commented on #73
…………好吧

[2014-05-17 22:54] Fsu0413 commented on #55
经查，是因为Room下的lua_State没有关闭导致的，fixed

[2014-05-17 22:54] #55 closed, assigned to nobody

[2014-05-18 16:53] YanGuam commented on #75
未收到反馈

[2014-05-18 16:53] #75 closed, assigned to nobody

[2014-05-18 16:54] YanGuam commented on #68
未收到反馈

[2014-05-18 16:54] #68 closed, assigned to nobody

[2014-05-18 16:55] YanGuam commented on #64
未收到反馈

[2014-05-18 16:55] #64 closed, assigned to nobody

[2014-05-28 22:56] Fsu0413 opened #78 "Linux下现在游戏卡死在MainWindow，有时可以载入StartScene，但是按钮点击不能"
rt

[2014-05-30 02:04] Fsu0413 commented on #78
目测坑爹SSL问题，有的Windows机器因为安装了和Qt不兼容的OpenSSL导致游戏刚刚打开就崩溃退出

[2014-05-30 02:05] Fsu0413 commented on #78
想去论坛申请大约3K的空间来放更新信息，删掉Github上这些更新信息，SSL连接太坑

[2014-05-30 02:06] Fsu0413 commented on #57
我怎么感觉是更新手牌数的那个东西的问题……我哪天试试换种实现方法

[2014-05-30 02:08] Fsu0413 commented on #57
……Mac虚拟机被我删了

[2014-05-30 11:16] YanGuam commented on #78
论坛三天崩一次    不太可靠...

[2014-05-30 13:11] Fsu0413 commented on #78
总比ssl强

[2014-05-31 15:44] Fsu0413 commented on #78
问题根源找到，UpdateCheckerThread中：
QNetworkReply *reply = mgr->get(QNetworkRequest(QUrl(URL)));
这句会在控制台输出一个错误

[2014-05-31 15:49] YanGuam commented on #78
什么错误

[2014-05-31 16:04] Fsu0413 commented on #78
![a](https://cloud.githubusercontent.com/assets/4150545/3139419/2fadd06a-e8dd-11e3-9957-8fde78b9bb80.jpg)

这个消息出来之后窗口出来就卡死，然后就只能杀进程

[2014-05-31 16:05] Fsu0413 commented on #78
这个Ubuntu里的Qt版本为4.8.5

[2014-06-09 02:00] Fsu0413 commented on #78
已经解决，进程不能在自身执行时terminate

[2014-06-09 02:00] #78 closed, assigned to nobody

[2014-06-09 02:03] Fsu0413 commented on #56
因为有合并V2和国战版的计划，所以此计划删掉。

[2014-06-09 02:03] #56 closed, assigned to nobody

[2014-06-19 00:51] Fsu0413 commented on #57
不知为何居然好了……………………不明觉厉

[2014-06-19 00:51] #57 closed, assigned to nobody

[2014-06-19 05:05] BeginnerSlob commented on #57
= =太虎了。

[2014-06-19 13:18] Fsu0413 commented on #57
@BeginnerSlob 谁知道了………………

[2014-06-21 13:39] stlyx opened #83 "Compile on Win7x64 with vs2013 qt5 failed?"
Qt5Core.lib(Qt5Core.dll) : fatal error LNK1112: 模块计算机类型“x64”与目标计算机类型“X86”冲突

[2014-06-21 14:11] Fsu0413 commented on #83
使用X64的Qt库

[2014-06-21 14:11] Fsu0413 commented on #83
切换解决方案平台为X64

[2014-06-21 14:54] stlyx commented on #83
谢@Fsu0413 ，终于编译成功了。但是只能在vs2013里面通过调试启动？不能直接双击.exe运行？（双击.exe时解决了dll缺失问题仍然不能运行.exe，提示“
应用程序无法正常启动(0xc000007b)，请单击“确定”关闭应用程序。
”，这是何解？）

[2014-06-21 15:15] YanGuam commented on #83
@stlyx    运行库不在exe的同级目录中。

[2014-06-21 15:15] #83 closed, assigned to nobody

[2014-06-28 12:49] YanGuam commented on #72
图片就绪。

[2014-07-06 15:42] Fsu0413 commented on #67
solved

[2014-07-06 15:43] #74 closed, assigned to nobody

[2014-07-07 13:01] ainomelody opened #84 "倾城AI"
邹氏暗置武将AI还是有问题，把卖血的司马暗了，但是回合内没有搞司马
![image](https://cloud.githubusercontent.com/assets/7959436/3495327/41151d26-05d5-11e4-8fa8-2a7ac9d64248.png)
By  mfdsrax2
@QSanguosha-Rara/ai-team

[2014-07-08 10:54] ainomelody opened #85 "飞龙夺凤后势力判断AI"
八人局 吴国周瑜/陆逊被群的飞龙夺凤之后变成了吕布/士兵，吴大师/陈董被飞龙夺凤成了袁绍士兵，某回合开始，吕布居然对袁绍出杀，这回合结束二张/丁奉还让吕布回收了弃牌（此时场上有四个群两个吴一个蜀，应该不存在暂时结盟的问题）
![image](https://cloud.githubusercontent.com/assets/7959436/3508643/3052bc3c-068e-11e4-84d5-e0524f4f6f42.png)

BY 快棋手

[2014-07-08 12:15] Fsu0413 commented on #85
问问他是不是用的旧版

[2014-07-09 09:11] #72 closed, assigned to nobody

[2014-07-13 11:48] ainomelody commented on #85
0.5.1的BUG，无法重现，若已修复，close please

[2014-07-13 12:02] ainomelody commented on #85
接楼上那局 袁绍当万箭 董卓帮蜀国出国无懈却不帮群雄无懈（董卓本身就是群雄，不是被飞龙夺凤的）
![image](https://cloud.githubusercontent.com/assets/7959436/3564439/69ea7840-0a85-11e4-977f-165f9fd6c734.png)

[2014-07-13 12:22] ainomelody opened #88 "君刘备弃飞龙置于牌堆顶"
![image](https://cloud.githubusercontent.com/assets/7959436/3564481/565a63b4-0a88-11e4-8698-d5dc462dd428.png)

by kevin1559

[2014-07-13 12:29] ainomelody opened #89 "黄盖AI"
黄盖好不容易有了AK，也有杀和距离，竟然把神器弃了
![image](https://cloud.githubusercontent.com/assets/7959436/3564499/91587798-0a89-11e4-8cb7-9c3ab477c2b7.png)
by 开国大佬

[2014-07-13 12:33] ainomelody opened #90 "莫名弃牌"
刚开始，一摸牌莫名叫我弃牌
![image](https://cloud.githubusercontent.com/assets/7959436/3564504/c8d3116a-0a89-11e4-8b93-ba41be4483f9.png)
游戏中我被闪电劈了，然后这回合就结束了……不能出牌直接叫我弃置
![image](https://cloud.githubusercontent.com/assets/7959436/3564505/d4537c96-0a89-11e4-98fc-7bb0539ccea6.png)
by 俺是张学友

[2014-07-13 12:39] ainomelody opened #91 "李典两血弃桃过"
李典当时1血4牌，吃桃弃桃过
![image](https://cloud.githubusercontent.com/assets/7959436/3564519/b24fb17c-0a8a-11e4-97df-434683e1c3da.png)
0.5.1
by mfdsrax2

[2014-07-13 12:49] ainomelody opened #92 "涅槃淑慎AI"
庞统甘夫人，涅磐复活时没有淑贞队友
![image](https://cloud.githubusercontent.com/assets/7959436/3564544/0f6d8da6-0a8c-11e4-89b1-0a05023da84b.png)
0.5.1
by mfdsrax2

[2014-07-13 12:50] ainomelody opened #93 "苦肉制衡AI"
8人局
渣权，黄盖
装连弩，苦肉至一血，然后把连弩等4张牌制衡，最后吃桃弃置5张杀
0.5.1
by 无敌小棒子

[2014-07-13 13:07] takashiro commented on #92
fixed

[2014-07-13 13:07] #92 closed, assigned to nobody

[2014-07-13 13:39] ainomelody opened #94 "鬼才改判铁骑AI"
马超杀司马判红，司马手牌没闪仍然改黑
![image](https://cloud.githubusercontent.com/assets/7959436/3564672/1825a49a-0a93-11e4-9097-3bb9d0df852f.png)
0.5.1
by mfdsrax2

[2014-07-13 13:47] ainomelody opened #95 "双雄AI"
纪灵/颜文 有一把牌，双雄后发动双刃，没拼赢全弃了
我觉得颜文的AI还是有问题，之前也发现经常双雄后不决斗，把决斗牌当装备装或者直接弃了
![image](https://cloud.githubusercontent.com/assets/7959436/3564695/1f0ef7ba-0a94-11e4-9507-558b16b5d220.png)
0.5.1
by mfdsrax2

[2014-07-13 14:37] Fsu0413 commented on #95
不知为何双雄AI总是要把决斗放到杀的后面出

[2014-07-13 14:38] Fsu0413 commented on #90
电脑空格键卡住，不是程序问题，close。

[2014-07-13 14:38] #90 closed, assigned to nobody

[2014-07-13 14:38] Fsu0413 commented on #88
log问题

[2014-07-13 15:16] YanGuam commented on #90
戳中笑点...2333

[2014-07-13 15:51] Fsu0413 commented on #85
国无懈的使用没有特别写AI

[2014-07-13 22:56] BeginnerSlob commented on #90
真的笑了。。。哈哈哈

[2014-07-14 12:00] ainomelody opened #96 "青釭剑AI"
关羽张飞装青钢，一直在杀装人亡的庞德，用的全是红杀，杀到1血不杀了弃牌，最后还弃了一张黑杀和兵粮
![image](https://cloud.githubusercontent.com/assets/7959436/3570360/5c636d84-0b4e-11e4-87d4-962512a50d28.png)
0.5.1
by mfdsrax2

[2014-07-16 12:38] ainomelody opened #97 "抽风AI收队友"
![image](https://cloud.githubusercontent.com/assets/7959436/3598647/0b003596-0ce6-11e4-926a-9998e8bb5a8f.png)
0.5.1
by myc10248

[2014-07-16 12:41] ainomelody opened #98 "AI曹丕放逐翻面状态的敌人"
如题，无图
0.5.1
by 东皇太一60

[2014-07-17 17:12] #88 closed, assigned to nobody

[2014-07-18 15:06] Fsu0413 commented on #94
AI只判断judge.pattern和judge.good，不判断实际情况导致

[2014-07-18 15:07] Fsu0413 commented on #97
很明显……身份局的内奸AI

[2014-07-22 13:43] ainomelody opened #99 "二张固政卡牌"
八人局，二张固政八卦后八卦还在手上，还可以给自己装，然后就闪退了
0.5.1
by 如释帆飞

[2014-07-22 13:52] ainomelody commented on #63
铁索上就绑了2个吴国，第三个吴国毅然出了火杀
![image](https://cloud.githubusercontent.com/assets/7959436/3658759/63615966-11a7-11e4-9e10-8429b5f1a466.png)

by 魔の某只娃

[2014-07-22 13:59] ainomelody opened #100 "劣势贾诩不挂黑闪电"
![image](https://cloud.githubusercontent.com/assets/7959436/3658827/106134ce-11a8-11e4-9226-cccfbaa4099c.png)
0.5.1
by 魔の某只娃

[2014-07-22 14:03] ainomelody opened #101 "攻击对象选择"
贾诩有青钢剑以及决斗的情况下，先后不对1血的cc进行攻击，反而攻击满血满牌的甄姬
![image](https://cloud.githubusercontent.com/assets/7959436/3658897/a003257e-11a8-11e4-9e68-a5916b5fcc9f.png)
0.5.1
by 魔の某只娃

[2014-07-22 14:04] ainomelody opened #102 "AI基本不穿心"
0.5.1
by 姜维顶多值五毛

[2014-07-22 15:27] BeginnerSlob commented on #99
我觉得他想说的是直谏- -

[2014-07-22 15:34] YanGuam commented on #99
我居然没看出来有问题= =

[2014-07-22 22:56] ainomelody commented on #99
昨晚上梦游了0.0

[2014-07-22 23:04] ainomelody opened #103 "雄异不能回血"
![image](https://cloud.githubusercontent.com/assets/7959436/3666600/2e5b3b18-11f4-11e4-932e-6d117e35436c.png)
0.5.1
by 姜维顶多值五毛

[2014-07-22 23:07] ainomelody opened #104 "CC乱武不杀被乱死"
暗将/曹操明置了武将，主将为暗将，副将为曹操
暗将/曹操收回了雷杀[￼8]
贾诩/暗将明置了武将，主将为贾诩，副将为暗将
贾诩/暗将发动了“乱武”
贾诩/暗将失去了 1 枚乱武标记
八号位失去了 1 点体力
八号位当前体力为 3 ，体力上限为 4
邹氏/吕布使用了杀[￼5]，目标是暗将/曹操
邹氏/吕布的“无双”被触发
邹氏/吕布对暗将/曹操造成了 1 点伤害[无属性]
暗将/曹操当前体力为 1 ，体力上限为 4
暗将/曹操发动了“奸雄”
暗将/曹操收回了杀[￼5]
暗将/曹操失去了 1 点体力
暗将/曹操当前体力为 0 ，体力上限为 4
贾诩/暗将的“完杀”被触发，只有贾诩/暗将和暗将/曹操才能救暗将/曹操
暗将/曹操向贾诩/暗将, 八号位, 邹氏/吕布, 暗将/曹操, 诸葛亮/暗将, 颜良＆文丑/何太后, 暗将/马岱, 华佗/貂蝉求桃，一共需要 1 张【桃】
曹仁/曹操明置了武将，主将

[2014-07-22 23:10] ainomelody opened #105 "英魂AI有问题么？"
![image](https://cloud.githubusercontent.com/assets/7959436/3666678/58feddce-11f5-11e4-8acd-969123e2947d.png)
0.5.1

[2014-07-23 00:19] Fsu0413 commented on #105
英魂真的不知道为何AI从来都不选

[2014-07-23 00:19] Fsu0413 commented on #103
雄异改了实现方法……不知道修没修

[2014-07-23 00:20] Fsu0413 commented on #99
直谏爆过很多次问题了，不过就是不知道问题出在哪里

[2014-07-23 00:20] Fsu0413 commented on #102
fixed

[2014-07-23 00:20] #102 closed, assigned to nobody

[2014-07-23 00:21] Fsu0413 commented on #100
不对啊，isProhibited已经删了啊

[2014-07-23 01:09] YanGuam commented on #105
speak和加断点监测一下流程是不是有问题。。

[2014-07-23 01:12] ainomelody commented on #105
0.0前排围观

[2014-07-23 05:52] zyun7799 commented on #105
之前在basara-ai里强制所有人回合开始亮双将，唯独孙坚不听话暗到死，但是现在不知为何又生效了，现在设置了孙坚在掉到两血时会亮将，亮将后英魂发动就正常了

[2014-07-23 05:57] zyun7799 commented on #65
这个已经调好

[2014-07-23 05:58] YanGuam commented on #65
Good!

[2014-07-23 05:58] #65 closed, assigned to nobody

[2014-07-23 05:58] YanGuam commented on #105
...真是寂寞

[2014-07-23 05:58] #105 closed, assigned to nobody

[2014-07-23 06:09] zyun7799 commented on #98
这个不太应该，因为这一条是写在SmartAI:toTurnOver里面的，或许是ai敌友判断上的问题

[2014-07-23 06:18] Fsu0413 commented on #98
@zyun7799 很可能是AI把他当成暂时的队友了把

[2014-07-23 12:04] ainomelody opened #106 "邓艾不会屯田么"
暗将/蒋琬＆费祎 明置了武将，主将为 暗将，副将为 蒋琬＆费祎
暗将/蒋琬＆费祎 摸了 2 张牌
暗将/蒋琬＆费祎 装备了 藤甲[2]
暗将/蒋琬＆费祎 使用了 杀[4]，目标是 暗将/邓艾
暗将/邓艾 使用了 闪[J]
暗将/蒋琬＆费祎 发动了“生息”
暗将/蒋琬＆费祎 摸了 2 张牌
暗将/蒋琬＆费祎 弃置了 杀[9], 八卦阵[2]

8人局，ai邓艾回合外失去牌时不发动屯田，整局到死都这样
by dog_p
0.6.0

[2014-07-23 12:10] Fsu0413 commented on #106
没见过

[2014-07-23 12:11] ainomelody commented on #106
![image](https://cloud.githubusercontent.com/assets/7959436/3672589/78c70d9e-1262-11e4-8dad-50ae4d5be6f7.png)
![image](https://cloud.githubusercontent.com/assets/7959436/3672592/831381ce-1262-11e4-8a87-68c1c2654b3f.png)
算是改了？

[2014-07-23 13:47] #104 closed, assigned to nobody

[2014-07-23 13:48] Fsu0413 commented on #106
…………这个时期的问题啊……我还以为…………

[2014-07-23 13:48] #106 closed, assigned to nobody

[2014-07-24 11:56] ainomelody opened #107 "AI董卓主将亮将策略"
ai用董卓做主将时的亮将策略问题很大，经常看到没满足横征的发动条件他就主动亮个胖子出来然后可怜的副将就打酱油了。。。
0.6.0
by dog_p

[2014-07-24 11:58] ainomelody opened #108 "手握连弩AI关羽不珍惜红装备"
暗将/关羽 明置了武将，主将为 暗将，副将为 关羽
暗将/关羽 摸了 2 张牌
暗将/关羽 使用了 铁索连环[Q]，目标是 五号位, 孙尚香/陆逊
暗将/关羽 装备了 三尖两刃刀[Q]
暗将/关羽 装备了 大宛[K]暗将/关羽 装备了 诸葛连弩[A]
暗将/关羽 卸载了 三尖两刃刀[Q]
暗将/关羽 使用了 杀[J]，目标是 五号位
暗将/关羽 对 五号位 造成了 1 点伤害[无属性]
五号位 当前体力为 2 ，体力上限为 4

ai关羽在有连弩的情况下先装个红武器然后再换上连弩出杀 囧
0.6.0
by dog_p
这年头都不兴截图了╮(╯▽╰)╭

[2014-07-24 12:07] ainomelody opened #109 "AI袁绍、双雄挂无用装备影响输出"
ai袁绍 颜良文丑的上装备策略需要调整一下，他们经常因为优先挂上手牌中的装备哪怕是没用的，导致少一张关键的乱击或双雄牌
0.6.0
by dog_p

[2014-07-24 12:09] ainomelody opened #110 "AI祝融不烈刃"
庞统/祝融 摸了 2 张牌
庞统/祝融 发动了“连环”将 藤甲[2] 当成 铁索连环[2] 重铸
庞统/祝融 摸了 1 张牌
庞统/祝融 重铸了 知己知彼[4]
庞统/祝融 摸了 1 张牌
庞统/祝融 使用了 杀[9]，目标是 张辽/荀彧
庞统/祝融 发动了“勇决”庞统/祝融 收回了 杀[9]
庞统/祝融 对 张辽/荀彧 造成了 1 点伤害[无属性]
张辽/荀彧 当前体力为 2 ，体力上限为 3
庞统/祝融 弃置了 顺手牵羊[3], 杀[9]

ai祝融哪怕是弃牌都不会发动烈刃。。。。

0.6.0
by dog_p

[2014-07-24 12:22] ainomelody opened #111 "张角无法自己发动弘法出杀?"
0.6.0
by 流浪铸剑师

[2014-07-24 13:02] ainomelody opened #112 "双刃、神速杀藤甲"
![image](https://cloud.githubusercontent.com/assets/7959436/3688174/d15cf204-1332-11e4-863a-69f6add4e89a.png)

[2014-07-24 13:32] Fsu0413 commented on #112
双刃是个typo已经修复，神速没见过

[2014-07-24 13:32] Fsu0413 commented on #110
没见过

[2014-07-24 13:32] Fsu0413 commented on #109
双雄已经改了

[2014-07-24 13:33] Fsu0413 commented on #111
怎么不能

[2014-07-24 13:39] Fsu0413 commented on #111
另外弘法实现方法彻底变了，这个issue已经过了时效性了，可以关了

[2014-07-24 13:39] #111 closed, assigned to nobody

[2014-07-24 13:39] Fsu0413 commented on #109
袁绍也改了

[2014-07-24 13:39] #109 closed, assigned to nobody

[2014-07-24 13:40] Fsu0413 commented on #95
fixed by @zyun7799

[2014-07-24 13:40] #95 closed, assigned to nobody

[2014-07-24 13:53] Fsu0413 commented on #107
@zyun7799 你动过董卓主亮将么

[2014-07-25 11:51] ainomelody opened #113 "建议：加个锁定预亮的选项"
在打单机时打开，去服务器时关闭。
by 轻按一下Delete
话说AI亮将很快吧。。。

[2014-07-25 12:16] Fsu0413 commented on #113
072已经有了……dj你要不要这么迟钝

[2014-07-25 12:16] #113 closed, assigned to nobody

[2014-07-25 12:17] ainomelody commented on #113
= =我不大玩的

[2014-07-25 12:18] Fsu0413 commented on #113
= =起码功能应该知道吧

[2014-07-25 12:19] ainomelody commented on #113
= =没见这选项，，，就感觉AI亮的很快%>_<%

[2014-07-25 12:24] zyun7799 commented on #107
fixed

[2014-07-25 12:25] zyun7799 commented on #110
这个在7.2见过，现在又正常了

[2014-07-25 12:26] ainomelody commented on #110
神奇

[2014-07-25 12:26] #107 closed, assigned to nobody

[2014-07-25 12:27] Fsu0413 commented on #113
= =“单机游戏时自动预亮”你没见过？

[2014-07-25 12:28] ainomelody commented on #113
= =好吧

[2014-07-25 12:48] ainomelody commented on #99
八人局
张昭/孙策
卡【闪】
敌对方弃置一牌，孙策/二张固政，还没反应过来，二张直谏自己，然后就开始卡【闪】崩溃
往回翻文字记录速度赶不上卡牌的速度，不知道具体触发条件。。
![image](https://cloud.githubusercontent.com/assets/7959436/3701999/cf666f3a-13f9-11e4-87fb-662b2bd0b354.png)
0.6.0
by 330de日子

[2014-07-25 13:05] ainomelody opened #114 "AI开A A死队友"
曹操父子
1、8人局。
2、曹操\曹丕
3、一个A放死两个队友
4、截图：

![image](https://cloud.githubusercontent.com/assets/7959436/3702170/159d3266-13fc-11e4-8912-aa07e061cb6b.png)
![image](https://cloud.githubusercontent.com/assets/7959436/3702179/44a2f280-13fc-11e4-9eb1-1f9fc585963b.png)
0.6.0
by xxyheaven

[2014-07-25 13:22] #110 closed, assigned to nobody

[2014-07-25 13:38] ainomelody opened #115 "孟获黄忠无聊去杀诸葛刘禅"
![image](https://cloud.githubusercontent.com/assets/7959436/3702563/cded7a8e-1400-11e4-913e-d63df5c978ef.png)
AI也会卖萌么。。
0.6.0
by oldyounges

[2014-07-25 14:09] ainomelody opened #116 "横江标记未消失"
![image](https://cloud.githubusercontent.com/assets/7959436/3702929/b3f30dfc-1404-11e4-9e3c-562601ac5b8c.png)
贾诩回合内伤害了臧霸夏侯惇，但回合过了后横标记没有消失依然存在
0.6.0
by oldyounges
实测没碰到

[2014-07-25 15:18] YanGuam commented on #113
现在AI亮将放缓了一点点

[2014-07-26 01:21] ainomelody opened #117 "当AI甄姬、蒋费遭遇二张"
ai甄姬对于敌二张在场时会放弃洛神，而ai蒋费对于敌二张在场却不断生息。而且能不能改善一下ai暂时盟友的情况下还是配合一下二张呢？
![Image](http://imgsrc.baidu.com/forum/pic/item/abd19d8fa0ec08fad29e62eb5bee3d6d54fbda36.jpg)
0.6.0
by oldyounges

[2014-07-26 01:35] Fsu0413 commented on #117
生息…………return true

[2014-07-26 01:37] ainomelody opened #118 "神速突袭AI"
八人局，夏侯渊/张辽在一血无手牌的情况下放弃突袭，神速杀一血周泰/陆逊
ps：此时全场已亮将，三魏三群一蜀一吴，群雄明显优势。
0.6.0
by 东皇太一60
神速错对象了吧= =

[2014-07-26 01:42] ainomelody opened #119 "于吉千幻取消别人救他的桃"
![Image](http://imgsrc.baidu.com/forum/pic/item/23ec6b09c93d70cfc5cdc741fadcd100bba12b9d.jpg)
0.6.0
by sen部可测

[2014-07-26 01:42] YanGuam commented on #119
fixed

[2014-07-26 01:42] #119 closed, assigned to nobody

[2014-07-26 01:51] ainomelody opened #120 "有桃子不救"
![Image](http://imgsrc.baidu.com/forum/pic/item/ba1f77899e510fb31e522edbdb33c895d0430c00.jpg)
0.6.0
by kevin1559

[2014-07-26 01:59] ainomelody opened #121 "双雄对象选择AI"
八人局

颜良＆文丑/贾诩 发动了“双雄”将 闪[8] 当成 决斗[8] 使用，目标是 曹丕/荀彧
曹丕/荀彧 打出了 杀[7]
曹丕/荀彧 对 颜良＆文丑/贾诩 造成了 1 点伤害[无属性]
颜良＆文丑/贾诩 当前体力为 1 ，体力上限为 3
颜良＆文丑/贾诩 发动了“双雄”将 闪[2] 当成 决斗[2] 使用，目标是 曹丕/荀彧
曹丕/荀彧 打出了 杀[8]
曹丕/荀彧 对 颜良＆文丑/贾诩 造成了 1 点伤害[无属性]
颜良＆文丑/贾诩 当前体力为 0 ，体力上限为 3
颜良＆文丑/贾诩 的“完杀”被触发，只能 颜良＆文丑/贾诩 自救
颜良＆文丑/贾诩 向 颜良＆文丑/贾诩, 曹丕/荀彧, 貂蝉/马腾 求桃，一共需要 1 张【桃】
颜良＆文丑/贾诩 使用了 桃[10]
颜良＆文丑/贾诩 回复了 1 点体力

事实是当时因为双头通过并非决斗的方式秒了好些人，以至于我行殇了一大把牌，放在

[2014-07-26 11:44] zyun7799 commented on #121
这个应该是写死在决斗这张卡牌里的。。

[2014-07-26 16:12] lrl026 commented on #66
只有随到2b的ai才会打死完全未明身份的暗将

[2014-07-26 16:13] YanGuam commented on #66
为何设置这种水平的ai= =

[2014-07-26 16:21] lzxqqqqq commented on #66
这个错误出在友军判定上。因为友军我写了除非能顺带带走一个敌人否则绝对不会杀的。

[2014-07-27 00:38] BeginnerSlob commented on #116
确实存在，但是在下回合开始时自动清除，即无BUG。

[2014-07-27 00:38] #116 closed, assigned to nobody

[2014-07-27 00:47] Fsu0413 commented on #116
……臧霸被断肠了，没有横江了

[2014-07-27 00:48] BeginnerSlob commented on #116
手牌上限-1是后续效果- -所以标记在

[2014-07-27 00:50] Fsu0413 commented on #116
我知道……

[2014-07-27 02:57] ainomelody opened #122 "挂AK弃杀"
我暗将隔岸观火，电脑8号位暗将/李典已经亮将，然后7号位突然爆发亮将黄忠/暗将，掏出一把AK，我顿感有好戏看了，只见黄忠杀了一下李典，然后李典掉了一滴血，然后黄忠弃牌了，我勒个去，弃牌一看居然3张杀！

by 紫夜丶星痕
0.6.0

[2014-07-27 03:01] ainomelody opened #123 "倾城BUG"
邹氏回合内打主将君刘备，副将暗置的赵云时，赵云触发龙胆
0.6.0
by rgq___1001

[2014-07-27 05:07] zyun7799 commented on #122
目测之前更多贴里反映的连弩弃牌都是同一个问题，现在已经没有了

[2014-07-27 05:12] #122 closed, assigned to nobody

[2014-07-27 10:48] YanGuam opened #124 "用OpenGL进行加速后photo十分模糊- -"
![qq20140727173040](https://cloud.githubusercontent.com/assets/3531837/3713610/80a3080c-1577-11e4-8c12-77b6d964ffac.jpg)
The item in the first picture is painted by Qt native GUI module
The following pictures show the graphics painted by underlying OpenGL module.
The one below has the same quality with that painted by native module.
![qq20140727170140](https://cloud.githubusercontent.com/assets/35

[2014-07-27 11:05] ainomelody opened #125 "君刘备场野心家"
5人局：在君刘备亮将之前，我被打死，显示野心家，在君刘备亮将后，我还显示野心家，而且，场上只剩下蜀国时，游戏未立即结束。
0.6.0
by rgq___1001

[2014-07-27 13:27] lrl026 commented on #66
@e9ae21acd52cbe2bc9934bcd8718cc851ac805a5

[2014-07-27 13:31] #66 closed, assigned to nobody

[2014-07-27 13:34] lrl026 commented on #63
@e9ae21acd52cbe2bc9934bcd8718cc851ac805a5

应该不是属性伤害判断问题，有可能是身份判断的问题

[2014-07-27 13:54] lrl026 commented on #98
没图无从查起，关了

[2014-07-27 13:54] #98 closed, assigned to nobody

[2014-07-27 14:26] #124 closed, assigned to nobody

[2014-07-27 15:44] #69 closed, assigned to nobody

[2014-07-27 15:44] #100 closed, assigned to nobody

[2014-07-27 15:46] lrl026 commented on #71
记得很早就改过了，简单测了下木有问题，关了

[2014-07-27 15:46] #71 closed, assigned to nobody

[2014-07-27 16:09] lrl026 commented on #123
这个应该是ai用的吧，人肯定用不了。
最好加个canshowGeneral之类的东西，来让ai判断是否能明置武将发动视为技。

当然，现在也能处理，只是麻烦点

[2014-07-27 23:08] BeginnerSlob commented on #123
已经有了吧，Player::disableShow这个方法

[2014-07-28 01:10] lrl026 commented on #123
现版本人和ai都用不了，可以关了

[2014-07-28 01:11] #123 closed, assigned to nobody

[2014-07-28 05:42] ainomelody opened #126 "AI丁奉奋迅后直接过"
发动“给我拉过来”，但是没有出杀或者顺手，也就是说这个的浪费一牌的没用的行为
8人局，丁奉
http://pan.baidu.com/s/1qWpWH2G

0.6.0
by wangdl_100a

[2014-07-28 05:45] ainomelody opened #127 "Runtime Error"
![Image](http://imgsrc.baidu.com/forum/pic/item/7127ecfe9925bc31dcf885d45cdf8db1ca137023.jpg)
![Image](http://imgsrc.baidu.com/forum/pic/item/7dedb40e7bec54e7687b9652bb389b504ec26a3d.jpg)
0.6.0
by 飞雪解说

[2014-07-28 05:53] ainomelody commented on #103
![Image](http://imgsrc.baidu.com/forum/pic/item/eec39f13b07eca805244cbab932397dda044830f.jpg)
0.6.0
by 姜维顶多值五毛

[2014-07-28 05:55] ainomelody opened #128 "马岱潜袭自己人"
8人局
马岱潜袭本方武将。下家是鲁肃
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=847901b4a586c91708035231f93c70c6/aaf667600c338744fa4bca30530fd9f9d52aa0c6.jpg)

0.6.0
by 无敌小棒子

[2014-07-28 05:58] ainomelody opened #129 "AI牌多不用直接弃"
卧龙诸葛亮/赵云 明置了武将，主将为 卧龙诸葛亮，副将为 赵云
卧龙诸葛亮/赵云 的武将牌上有单独的阴阳鱼，可以摸一张牌
卧龙诸葛亮/赵云 摸了 1 张牌
卧龙诸葛亮/赵云 摸了 2 张牌
卧龙诸葛亮/赵云 弃置了 闪[J], 贯石斧[5], 杀[Q], 吴六剑[6], 火攻[2], 过河拆桥[Q], 杀[8], 杀[8]
刚才还有一局曹丕张辽也是这样。。AI是牌一多就不会处理要丢麽？

0.6.0
by 冰soul_灰

[2014-07-28 06:04] ainomelody opened #130 "AI不巧变"
八人局
张和甄姬不会使用巧变四
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=2f461d3bf01fbe091c5ec31c5b610c30/f810711ed21b0ef44f58ba13dfc451da80cb3e18.jpg)

0.6.0
by 25263526

[2014-07-28 06:09] ainomelody commented on #129
虽然是AI的问题还是发了吧，张辽突袭了田丰后田丰技能拆了他的太平要术，然后他吓得直接跳过出牌阶段，扔了好多桃……
![Image](http://imgsrc.baidu.com/forum/pic/item/ba1f77899e510fb339df05dadb33c895d3430c8e.jpg)
0.6.0
by ft2182910

[2014-07-28 06:17] ainomelody opened #131 "AI甘宁拆吕蒙藤甲"
这算不算正常策略?
![Image](http://imgsrc.baidu.com/forum/pic/item/ef0c9082d158ccbf8996db771bd8bc3eb03541a3.jpg)
![image](https://cloud.githubusercontent.com/assets/7959436/3717047/c5e95112-161e-11e4-85a6-7cfcce9b66a9.png)
0.6.0
by 吾乃天命之子5

[2014-07-28 06:25] ainomelody commented on #103
不正常回血
场上有单蜀和以后已知的暗蜀，马腾回血。就是马腾雄异的时候场上只有一个蜀但回血。是不是暗将AI也算上了
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=383b57d0c9ef76093c0b99971edca301/932e12178a82b9017e5f907e718da9773b12efdb.jpg)
0.6.0
by kevin1559

[2014-07-28 06:27] ainomelody opened #132 "AI对1血队友发动三尖两刃刀，强制卖血？"
我甄姬荀彧、曹操徐晃都一血一手牌，曹仁7牌对我三尖两刃刀，还没桃，是不是知道我有桃。。
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=88da2649950a304e5222a0f2e1c9a7c3/27190646f21fbe091ea6915969600c338544add1.jpg)
0.6.0
by kevin1559

[2014-07-28 06:33] ainomelody opened #133 "弱小势力的联合问题"
打了一个早上，有一个结论，剩下4人，两人是同势力，其余两人不同势力，弱小势力理应联合起来对抗，但经常都是有机会收人头，就只顾收人头，独力对抗同势力的两人。
0.6.0
by 吾乃天命之子5

[2014-07-28 14:44] lrl026 commented on #126
@319e38dab03e8c9e8e41c5bccc642f46f9efcf90

[2014-07-28 14:44] #126 closed, assigned to nobody

[2014-07-28 14:46] Fsu0413 commented on #103
雄异072改了实现方法，不知是否解决…………

[2014-07-28 14:46] Fsu0413 commented on #130
巧变4已修

[2014-07-28 14:46] #130 closed, assigned to nobody

[2014-07-28 14:47] Fsu0413 commented on #131
版本未知不处理。

[2014-07-28 14:47] #131 closed, assigned to nobody

[2014-07-28 14:47] lrl026 commented on #129
这没服务器信息，无从查起

[2014-07-28 14:47] #129 closed, assigned to nobody

[2014-07-28 14:49] Fsu0413 commented on #127
观星我实际操作多次没问题，而且除了他没见过别人反馈观星的问题

[2014-07-28 14:49] #127 closed, assigned to nobody

[2014-07-29 13:30] lrl026 commented on #133
这个是很早就遗留下来的问题，原来我以为杀死人可以摸3张

[2014-07-29 13:40] lrl026 commented on #132
是明桃就没用问题，不是的话就是身份判断问题

[2014-07-30 15:01] #133 closed, assigned to nobody

[2014-07-30 15:02] lrl026 commented on #114
aoe 问题遇到在调整

[2014-07-30 15:02] #114 closed, assigned to nobody

[2014-07-30 15:04] lrl026 commented on #85
试过几盘飞龙夺凤后势力判断应该没有问题了

[2014-07-30 15:04] #85 closed, assigned to nobody

[2014-07-30 15:04] #132 closed, assigned to nobody

[2014-07-31 00:00] ainomelody opened #134 "AI孙尚香黑装备不用来奇袭"
八人局，甘宁香香无脑替换黑色装备，用黑色装备当过拆比较赚吧
0.6.0
by 序类之关于

[2014-07-31 00:11] ainomelody opened #135 "建议：在规则解释里面把“阵法技”，“队列”，“围攻关系”等名词进行解释"
by royoumyry

[2014-07-31 00:15] ainomelody opened #136 "不能载入图片"
![Image](http://imgsrc.baidu.com/forum/pic/item/067da80f4bfbfbed283a04317af0f736aec31f6a.jpg)
by ft2182910
层主表示没删图片，而且问题就出现一次

[2014-07-31 00:20] ainomelody opened #137 "邹氏不翻周泰"
邹氏的最大作用果然还是翻周泰了，他居然翻了……
![Image](http://imgsrc.baidu.com/forum/pic/item/9f1ccffdfc0392459baac3418594a4c27c1e25b6.jpg)
by ft2182910
Apozegm璨: 也不是一直反...就我个人经验来说似乎是翻对一次——翻错一次——翻对一次——这样的循环......

[2014-07-31 00:29] ainomelody opened #138 "建议：游戏结束时明置暗将"
by chh317

[2014-07-31 00:33] ainomelody opened #139 "邓艾司马鬼才他人判定后不能屯田"
上家袁绍发动乱击，五号位夏侯刚烈红桃，我邓艾/司马改判后发动屯田，但右侧显示发动屯田后，没有出判定牌进行屯田
![Image](http://imgsrc.baidu.com/forum/pic/item/2a14abefce1b9d164fb1dc2ff1deb48f8d546458.jpg)
by 晓岚夕雾
百年东风: 司马懿主将，邓艾副将，在对甄姬的洛神进行改判时也是不能屯田

[2014-07-31 01:09] ainomelody opened #140 "AI 1血换太平要术阵亡"
![image](https://cloud.githubusercontent.com/assets/7959436/3758747/54e4b406-184f-11e4-8b04-0d2a250427df.png)

[2014-07-31 01:13] BeginnerSlob commented on #139
无法重现。

[2014-07-31 01:13] #139 closed, assigned to nobody

[2014-07-31 01:15] ainomelody opened #141 "种种二张"
1,二张杀上家,上家出方块4闪,然后二张无手牌过,弃牌阶段莫名其妙将那张闪固政到自己手牌中了.
2二张可以固政自己.
3二张可以直谏自己
4二张可以固政替换原有装备.
by 暴走漫画人

[2014-07-31 01:15] BeginnerSlob commented on #136
= =无法重现

[2014-07-31 01:15] #136 closed, assigned to nobody

[2014-07-31 01:16] BeginnerSlob commented on #141
fixed

[2014-07-31 01:16] #141 closed, assigned to nobody

[2014-07-31 01:24] ainomelody opened #142 "枭姬卡牌"
![Image](http://imgsrc.baidu.com/forum/pic/item/2f228e025aafa40fdf670f93a964034f79f01929.jpg)
by ft2182910

[2014-07-31 01:28] zyun7799 commented on #135
经查已有

[2014-07-31 01:28] #135 closed, assigned to nobody

[2014-07-31 01:29] ainomelody commented on #135
= =我怎么没看见

[2014-07-31 01:29] zyun7799 commented on #137
经查已修

[2014-07-31 01:29] #137 closed, assigned to nobody

[2014-07-31 01:30] #138 closed, assigned to BeginnerSlob

[2014-07-31 01:32] BeginnerSlob commented on #142
固政的问题，fixed

[2014-07-31 01:32] #142 closed, assigned to nobody

[2014-07-31 01:32] ainomelody commented on #142
= =

[2014-07-31 04:20] zyun7799 commented on #117
fixed

[2014-07-31 04:20] #117 closed, assigned to nobody

[2014-07-31 04:25] Fsu0413 commented on #137
老bug了……我修了好几遍才修好

[2014-07-31 04:25] zyun7799 commented on #128
按照现在的ai来看不可能。。除非敌友判断错误

[2014-07-31 04:26] Fsu0413 commented on #141
确切的说固政有过问题，直谏的问题到现在我们还没查出来

[2014-07-31 04:27] Fsu0413 commented on #139
060发布初期的bug，在改了trigger之后就修了

[2014-07-31 04:38] zyun7799 commented on #135
@ainomelody 在工具-规则概述的rule2里

[2014-07-31 06:48] #140 closed, assigned to nobody

[2014-07-31 06:49] #134 closed, assigned to nobody

[2014-08-01 04:32] lrl026 commented on #94
@bee051c83a8b588c69625e8527db1a5c2511d6ae

[2014-08-01 04:32] #94 closed, assigned to nobody

[2014-08-01 12:53] ainomelody opened #143 "孟获祝融AI亮将"
第一圈刘备和庞统就亮了单将，但连续两个南蛮之下都没亮祝融和孟获
0.6.0
by Apozegm璨

[2014-08-01 13:02] ainomelody opened #144 "马岱不杀被潜袭的目标"
0.6.0
by 吾乃天命之子5

[2014-08-01 13:06] ainomelody opened #145 "AI阻止队友收人头= ="
邓艾/张郃 装备了 吴六剑[6]
邓艾/张郃 使用了 杀[9]，目标是 吕布/邹氏
邓艾/张郃 对 吕布/邹氏 造成了 1 点伤害[无属性]
吕布/邹氏 当前体力为 0 ，体力上限为 4
吕布/邹氏 向 邓艾/张郃, 甄姬/司马懿, 黄盖/甘宁, 太史慈/张昭＆张纮, 陈武＆董袭/孙尚香, 荀彧/曹洪, 徐盛/蒋钦, 吕布/邹氏 求桃，一共需要 1 张【桃】
荀彧/曹洪 使用了 桃[4]，目标是 吕布/邹氏
吕布/邹氏 回复了 1 点体力
吕布/邹氏 当前体力为 1 ，体力上限为 4

0.6.0
by chh317

[2014-08-01 13:09] ainomelody commented on #63
姜维/诸葛亮 使用了 酒[9]
姜维/诸葛亮 使用了 雷杀[8]，目标是 暗将/华佗
姜维/诸葛亮 使用【酒】，对 暗将/华佗 造成的伤害从 1 点增加至 2 点
姜维/诸葛亮 对 暗将/华佗 造成了 2 点伤害[雷电属性]
暗将/华佗 当前体力为 -1 ，体力上限为 3
暗将/华佗 向 姜维/诸葛亮, 暗将/华佗, 臧霸/张辽, 孙坚/太史慈, 陈武＆董袭/徐盛, 暗将/于吉 求桃，一共需要 2 张【桃】
潘凤/华佗 明置了武将，主将为 潘凤，副将为 华佗
潘凤/华佗【群】 阵亡，伤害来源为 姜维/诸葛亮
杀[J] 被置入弃牌堆
乐不思蜀[6] 被置入弃牌堆
姜维/诸葛亮 摸了 2 张牌
姜维/诸葛亮 处于横置状态，将受到传导的属性伤害
姜维/诸葛亮 对 姜维/诸葛亮 造成了 2 点伤害[雷电属性]
姜维/诸葛亮 当前体力为 -1 ，体力上限为 3
姜维/诸葛亮 向 姜维/诸葛亮, 臧霸

[2014-08-02 12:42] ainomelody opened #146 "在出闪的时候预亮技能 视为放弃出闪"
当时我错过了流离的时机，然后再预亮流离，结果不给我出闪了
060
by 张英orz

[2014-08-02 12:44] ainomelody opened #147 "夏侯臧霸不横江"
8人局

陈武&董袭 酒杀 夏侯惇臧霸，后者只会发动刚烈而不会发动横江。
0.6.0
by DisRev

[2014-08-02 14:43] YanGuam commented on #146
我等这种反馈很久了。。

[2014-08-02 15:12] YanGuam commented on #146
我来说说原因和我的解决方案。   Server在等待打出牌的响应结构，结果Client突然发了个其他结构的数据包，解析失败就这样了。
我想设置两大类协议，一种是指令型协议（名字乱起，明白就好），Client可以在任意时刻发送，Server收到后分析为指令型协议，就作为指令交由指令处理系统处理（避免传给等待Client反馈的反馈处理系统）；第二种即反馈型协议，Server只在发送服务端指令后处理这种协议的数据包，现在很常用，不多说了。还有如果收到协议不对的反馈型数据包，应该等待至超时，而不是立即结束监听。总之，需要一个信号过滤器来保证信号正确分发给相应的处理模块。

目前托管，预亮，聊天等均应使用指令型协议。将指令型协议分离开来可以保证不会出现发个聊天预亮个武将导致终止询问的问题，是对反馈型协议的保护。此外，客户端指令协议的应用前景也很广阔，方便玩家进行个性化即时联机设置，比如以此发展类似换

[2014-08-02 16:37] takashiro commented on #146
目前服务器处理来自客户端的数据包确实是线性的，应付不了这个问题╮(╯_╰)╭
先理解一下啦啦的方案——就是说，一是要把现在notification的数据包独立处理，一是request的数据包发送后要等待至接收到对应的reply数据包或超时，忽略错误的reply型数据包吧？反馈型的各类数据包之间也应该相互独立。

[2014-08-02 16:55] YanGuam commented on #146
是。毕竟高城，言简意赅:+1:

[2014-08-02 23:29] Fsu0413 commented on #125
有记录么

[2014-08-02 23:56] ainomelody commented on #125
没

[2014-08-03 00:51] BeginnerSlob commented on #125
我修过一次，姑且认为修好了吧

[2014-08-03 00:51] #125 closed, assigned to nobody

[2014-08-03 13:02] lrl026 commented on #144
具体情况具体分析，没图就算了

[2014-08-03 13:02] #144 closed, assigned to nobody

[2014-08-03 13:13] lrl026 commented on #143
现版本应该都会发动了

[2014-08-03 13:13] #143 closed, assigned to nobody

[2014-08-03 13:15] #128 closed, assigned to nobody

[2014-08-03 13:17] lrl026 commented on #120
身份判断错误现版本应该不会再出现

[2014-08-03 13:17] #120 closed, assigned to nobody

[2014-08-03 13:20] lrl026 commented on #115
身份判断错误，现版本应该不会再出现

[2014-08-03 13:20] #115 closed, assigned to nobody

[2014-08-03 13:39] lrl026 commented on #97
身份判断问题，已经修复了

[2014-08-03 13:39] #97 closed, assigned to nobody

[2014-08-03 15:31] #147 closed, assigned to nobody

[2014-08-03 15:32] #145 closed, assigned to nobody

[2014-08-03 15:32] #121 closed, assigned to nobody

[2014-08-03 15:36] lrl026 commented on #63
大部分都是身份判断错误造成的

[2014-08-03 15:36] #63 closed, assigned to nobody

[2014-08-03 15:43] lrl026 commented on #89
没服务器信息，这就没办法了

[2014-08-03 15:43] #89 closed, assigned to nobody

[2014-08-04 03:11] #84 closed, assigned to nobody

[2014-08-04 03:12] #101 closed, assigned to nobody

[2014-08-04 03:12] #96 closed, assigned to nobody

[2014-08-04 07:56] ainomelody opened #148 "野心家装备太平要术不加1手牌上限"
0.6.0
by 博丽爱丽丝

[2014-08-04 08:11] ainomelody opened #149 "李典受到天香的伤害不忘隙"
我魏国甄姬郭嘉杀暗将小乔，小乔明置发动天香弹给司马李典，居然没忘隙。。。。
0.6.0
by 若逝丶不悔

[2014-08-04 08:13] ainomelody opened #150 "君主场AI身份判断"
刘禅在蜀国的情况下放权给魏了，AI没考虑君主刘备第五个依然是野心家？
![Image](http://imgsrc.baidu.com/forum/pic/item/9f1ccffdfc0392455c5c0ebe8594a4c27f1e25ec.jpg)
0.6.0
by ft2182910

[2014-08-04 08:32] ainomelody opened #151 "决斗无限使用"
七人局
甄姬/郭嘉
一张决斗一直在手牌，不出去，用了4次，杀死队友之后牌全弃了它还在
![Image](http://imgsrc.baidu.com/forum/pic/item/c050dd58ccbf6c817fe85b5abe3eb13531fa40f3.jpg)
![Image](http://imgsrc.baidu.com/forum/pic/item/65c0bf1bb051f819e6c374f8d8b44aed2c73e7f4.jpg)
0.6.0
by 无敌小棒子

[2014-08-04 08:51] BeginnerSlob commented on #148
fixed

[2014-08-04 08:51] #148 closed, assigned to nobody

[2014-08-04 08:55] BeginnerSlob commented on #151
因为某个原因卡牌了- -

[2014-08-04 10:16] YanGuam commented on #151
夏侯氏乱入

[2014-08-04 10:28] ainomelody commented on #151
= =

[2014-08-05 11:02] BeginnerSlob opened #152 "某段AI调试没去掉？"
单机的时候总是会自己说出自己装备的防具的名字，如SilverLion或者EightDiagram。。
目测是AI调试信息。。

[2014-08-05 11:41] YanGuam commented on #152
+1    今天说了一下午的vine

[2014-08-05 15:10] lrl026 commented on #152
居然没有删掉。。

[2014-08-05 15:13] lrl026 commented on #150
这个是身份判断错误造成的，但是跟君主没关系

[2014-08-05 15:13] #150 closed, assigned to nobody

[2014-08-05 16:06] #91 closed, assigned to nobody

[2014-08-05 16:06] lrl026 commented on #152
@0fdc11528e327e3d725b3b62026547f19f6184dc

[2014-08-05 16:06] #152 closed, assigned to nobody

[2014-08-06 01:22] BeginnerSlob opened #153 "标包-魏"
- [x] 奸雄——无消耗
- [x] 反馈——无消耗
- [x] 鬼才——打出一张手牌（将牌置入桌面后）
- [x] 刚烈——无消耗
- [x] 突袭——放弃摸牌（无消耗）
- [x] 裸衣——少摸一张牌（无消耗）
- [x] 天妒——无消耗
- [x] 遗计——无消耗
- [x] 倾国——略
- [x] 洛神——无消耗
- [x] 神速——1：跳过判定和摸牌阶段
- [x] 神速——2：跳过出牌阶段，弃置一张装备
- [x] 巧变——弃置一张手牌
- [x] 断粮——略
- [x] 据守——无消耗
- [x] 强袭——失去1点体力，或弃置一张武器
- [x] 驱虎——拼点（略）
- [x] 节命——无消耗
- [x] 行殇——无消耗
- [x] 放逐——无消耗
- [x] 骁果——弃置一张基本牌

--------Fsu别打脸，我投降还不行吗-------

[2014-08-06 01:59] #153 closed, assigned to nobody

[2014-08-06 02:13] BeginnerSlob opened #154 "标包-蜀"
- [x] 仁德——交给其他角色手牌
- [x] 武圣——略
- [x] 咆哮——X
- [x] 观星——无消耗
- [x] 空城——无消耗
- [x] 龙胆——略
- [x] 铁骑——无消耗
- [x] 马术——X
- [x] 集智——无消耗
- [x] 奇才——X
- [x] 烈弓——无消耗
- [x] 狂骨——无消耗
- [x] 连环——略
- [x] 涅槃——无消耗
- [x] 火计——略
- [x] 看破——略
- [x] 八阵——X
- [x] 享乐——无消耗
- [x] 放权——跳过出牌阶段
- [x] 祸首——无消耗
- [x] 再起——放弃摸牌（无消耗）
- [x] 巨象——无消耗
- [x] 烈刃——拼点（略）
- [x] 淑慎——无消耗
- [ ] 神智——无消耗？？？？？？？

[2014-08-06 02:44] #154 closed, assigned to nobody

[2014-08-06 03:13] BeginnerSlob opened #155 "标包-吴"
- [x]  制衡——弃置牌
- [x] 奇袭——略
- [x] 克己——无消耗
- [x] 苦肉——失去一点体力
- [x] 英姿——无消耗
- [x] 反间——无消耗
- [x] 国色——略
- [x] 流离——弃置一张牌
- [x] 谦逊——无消耗
- [x] 度势——略
- [x] 结姻——弃置两张手牌
- [x] 枭姬——无消耗
- [x] 英魂——无消耗
- [x] 天香——弃置一张手牌
- [x] 红颜——X
- [x] 天义——拼点（略）
- [x] 不屈——翻开牌堆顶牌
- [x] 好施——无消耗
- [x] 缔盟——弃置X张牌
- [x] 直谏——将装备牌置入目标装备区
- [x] 固政——返还一张牌
- [x] 短兵——X
- [x] 奋迅——弃置一张牌

[2014-08-06 04:34] #155 closed, assigned to nobody

[2014-08-06 04:42] BeginnerSlob opened #156 "标包-群"
- [x] 急救——略
- [x] 青囊——弃置一张牌
- [x] 无双——无消耗
- [x] 离间——弃置一张牌
- [x] 闭月——无消耗
- [x] 乱击——略
- [x] 双雄——放弃摸牌（无消耗）
- [x] 完杀——X
- [x] 乱舞——无消耗
- [x] 帷幕——无消耗
- [x] 马术——X
- [x] 猛进——无消耗
- [x] 雷击——X
- [x] 鬼道——将牌置入处理区，获得原判定牌
- [x] 悲歌——弃置一张牌
- [x] 断肠——无消耗
- [x] 马术——X
- [x] 雄异——无消耗
- [x] 名士——无消耗
- [x] 礼让——无消耗
- [x] 双刃——拼点（略）
- [x] 死谏——无消耗
- [x] 随势——无消耗
- [x] 狂斧——无消耗
- [x] 祸水——无消耗
- [x] 倾城——弃置一张装备牌

[2014-08-06 04:44] #156 closed, assigned to nobody

[2014-08-06 05:11] BeginnerSlob opened #157 "阵包"
- [x] 屯田——无消耗
- [x] 急袭——略
- [x] 资粮——无消耗
- [x] 护援——将一张牌置入目标装备区
- [x] 鹤翼——X
- [x] 挑衅——无消耗
- [x] 遗志——X
- [x] 天覆——X
- [x] 生息——无消耗
- [x] 守成——无消耗
- [x] 尚义——令其他角色观看手牌
- [x] 鸟翔——无消耗
- [x] 疑城——无消耗
- [x] 千幻——受伤：无消耗
- [x] 千幻——取消：将一张“幻”置入弃牌堆
- [x] 鸩毒——弃置一张手牌
- [x] 戚乱——无消耗
- [x] 章武——无消耗
- [x] 授钺——X
- [x] 激诏——无消耗

[2014-08-06 05:26] lrl026 commented on #149
现版本会发动，这个应该是身份判断错误导致的

[2014-08-06 05:26] #149 closed, assigned to nobody

[2014-08-06 05:34] #157 closed, assigned to nobody

[2014-08-06 05:43] BeginnerSlob opened #158 "势包"
- [x] 恂恂——放弃摸牌（无消耗）
- [x] 忘隙——无消耗
- [x] 横江——无消耗
- [x] 马术——X
- [x] 潜袭——无消耗
- [x] 闺秀——无消耗
- [x] 存嗣——移除武将牌
- [x] 激昂——无消耗
- [x] 鹰扬——无消耗
- [x] 魂殇——无消耗
- [x] 断绁——无消耗
- [x] 奋命——无消耗
- [x] 横征——无消耗
- [x] 暴凌——无消耗
- [x] 穿心——防止伤害（无消耗）
- [x] 锋矢——X
- [x] 悟心——无消耗
- [x] 弘法——无消耗
- [x] 问道——弃置一张红色牌

[2014-08-06 05:48] #158 closed, assigned to nobody

[2014-08-06 06:49] BeginnerSlob opened #159 "在remove的时候，Dashboard的暗将不会被模糊"
如题- -，顺便photo的remove武将，在从able进入disable的时候会有闪烁- -

[2014-08-06 09:39] YanGuam commented on #159
闪烁是特效 不是bug

[2014-08-06 09:40] YanGuam commented on #159
OutInBounce曲线的效果

[2014-08-06 10:45] BeginnerSlob commented on #159
。。是选牌之后的闪烁，每次选杀都会闪一次，你特意安排的？我觉得不是。。

[2014-08-06 10:59] Fsu0413 commented on #154
铁骑怎么变成无消耗了

[2014-08-06 11:00] Fsu0413 commented on #154
神智消耗是弃置所有手牌

[2014-08-06 11:45] lrl026 commented on #70
5c1183c11ea70d8b4b4d91ab4cf66ec0a9cc5486

[2014-08-06 11:45] #70 closed, assigned to lrl026

[2014-08-06 15:38] #118 closed, assigned to lrl026

[2014-08-06 15:38] #112 closed, assigned to lrl026

[2014-08-06 15:38] #108 closed, assigned to lrl026

[2014-08-06 15:38] #93 closed, assigned to lrl026

[2014-08-07 01:32] #159 closed, assigned to YanGuam

[2014-08-07 06:26] BeginnerSlob opened #160 "大概是新卡牌没有使用AI所以AI出牌就傻掉了？"
![zgd3yv550ukb 3 _st3rik](https://cloud.githubusercontent.com/assets/1858088/3838018/a4fdffb8-1dfb-11e4-9d00-925fba86ecce.jpg)
![b9 j9h fy u y z d whn5](https://cloud.githubusercontent.com/assets/1858088/3838025/bb7183aa-1dfb-11e4-86a5-9852b0bddd12.jpg)

[2014-08-07 06:55] ainomelody opened #161 "集智时卡住"
八人局，应该是集智的发动时机，就卡住了，大家的读条开始有节律地闪闪闪......
![Image](http://imgsrc.baidu.com/forum/pic/item/f199dd1373f082027f88c58d49fbfbedaa641bbf.jpg)
0.6.0
by Apozegm璨

[2014-08-07 07:01] ainomelody opened #162 "卡牌"
如截图所示，徐盛/甘宁用了第一次以逸待劳以后，只弃置1张牌，然后不断无限以逸待劳...不断弃置1张....
![Image](http://imgsrc.baidu.com/forum/pic/item/aad17f8da9773912a79a3bd3fa198618377ae212.jpg)
0.6.0
by 黯夜追风

[2014-08-07 07:04] ainomelody opened #163 "AI双刃杀空城"
纪灵/袁绍 (对 刘备/马超) 拼点赢！
纪灵/袁绍 执行了“双刃”的效果，使用了 杀[无色]，目标是 卧龙诸葛亮/诸葛亮
纪灵/袁绍 使用【杀】的目标 卧龙诸葛亮/诸葛亮 被取消

ai纪灵拼点赢了会杀空城诸葛

0.6.0
by 【漆黑之牙】

[2014-08-07 07:08] ainomelody opened #164 "孙策不激昂，于吉不千幻"
八人局，孙策徐盛，预亮激昂，暗着对1血貂蝉出红杀，没询问激昂，有幻在手的于吉也没取消......
0.6.0
by Apozegm璨

[2014-08-07 07:12] ainomelody opened #165 "飞龙后马腾不能雄异"
7人局
张辽 臧霸
被君主张角飞龙杀死后选择马腾，无法发动“雄异”

0.6.0
by 映水斯坦因

[2014-08-07 07:17] ainomelody opened #166 "黄盖的队友一多，就会自杀到阵亡。。。妥妥的"
0.6.0
by IT_modal

[2014-08-07 07:23] ainomelody opened #167 "毒菜吕蒙AI"
-文姬有牌就悲歌，且断肠很容易断到技能比较不常用的将，像CC/李典断CC，华陀/田丰断田 丰等等。

-吕蒙总是出杀，并不是敌人残血才出手，且拿到连努以后还会有杀出不乾净弃掉的情况。

0.6.0
by LateWone

[2014-08-07 07:26] ainomelody opened #168 "甘夫人姜维能观星2次"
0.6.0
by 张英orz

[2014-08-07 07:28] ainomelody opened #169 "于吉对闪电千幻"
有点浪费
0.6.0
by IT_modal

[2014-08-07 07:38] ainomelody opened #170 "【飞龙夺凤】问题"
蜀武将用飞龙夺凤杀死了我使用的角色，召回我，然后我选择君主备，然后我又不小心被杀死了（请无视……），但是君主备的限定技没有触发，直接判定死亡，没有复活。
0.6.0
by liangyeheng

[2014-08-07 07:40] ainomelody opened #171 "挑衅群雄，弘法杀目标偏移"
姜维挑衅华佗，华佗发动君张角的弘法出杀。。。可他出杀却没指向姜维，居然指向了我。。。。。
![Image](http://imgsrc.baidu.com/forum/pic/item/906d6081800a19d88475bab231fa828ba71e4660.jpg)
0.6.0
by 河大第三任校长

[2014-08-07 08:09] BeginnerSlob commented on #162
看到二张了- -

[2014-08-07 08:09] #162 closed, assigned to nobody

[2014-08-07 08:09] BeginnerSlob commented on #168
无图无JB

[2014-08-07 08:09] #168 closed, assigned to nobody

[2014-08-07 12:03] lrl026 commented on #160
172a38f58ba724119db3065aea8c4ef1d0fa4735

[2014-08-07 12:03] #160 closed, assigned to nobody

[2014-08-08 00:29] Fsu0413 commented on #171
弘法杀整体改了，目前不知道AI会不会有这情况

[2014-08-08 00:29] #171 closed, assigned to nobody

[2014-08-08 00:30] Fsu0413 commented on #164
场上是否有邹氏

[2014-08-08 00:31] Fsu0413 commented on #163
双刃有个typo，打开standard_qun-ai.lua，搜索shuangren-slash，改成shuangren_slash就对了，新版已经修复

[2014-08-08 00:31] Fsu0413 commented on #161
fixed

[2014-08-08 00:31] #161 closed, assigned to nobody

[2014-08-08 02:16] ainomelody commented on #164
不知

[2014-08-08 02:33] BeginnerSlob commented on #164
无图无真相

[2014-08-08 02:33] #164 closed, assigned to nobody

[2014-08-08 03:55] #163 closed, assigned to nobody

[2014-08-08 13:59] BeginnerSlob opened #172 "UI缺陷"
单击最小化按钮后，点击任务栏还原后，画面卡住，现有已知解决办法，单击还原/最大化按钮。

[2014-08-08 14:03] YanGuam commented on #172
Win8.1 x86 VS2013 Qt5.3.1 环境表示正常
给楼主一个悲伤的表情

[2014-08-08 14:25] lrl026 commented on #172
一样卡住

[2014-08-08 14:43] lrl026 commented on #166
黄盖是会自杀，这没图没记录的，关了

[2014-08-08 14:43] #166 closed, assigned to lrl026

[2014-08-08 14:43] Fsu0413 commented on #172
Win8.1 X64 VS2013 Qt5.3.1 环境表示正常
给楼主一个高兴的表情

[2014-08-08 14:52] #169 closed, assigned to lrl026

[2014-08-08 15:14] BeginnerSlob commented on #172
卡住的原因是什么？

[2014-08-08 15:18] BeginnerSlob commented on #172
我的是WIN7 X64 VS2010 QT4.8.6 RELEASE。。然后就卡了- -

[2014-08-08 16:57] BeginnerSlob opened #173 "玩家反映希望看到观星框"
非诸葛玩家也希望看到卡牌排列的过程- -

[2014-08-09 03:04] Fsu0413 commented on #173
不可能实现，close。

[2014-08-09 03:23] Fsu0413 commented on #165
fixed

[2014-08-09 03:23] #165 closed, assigned to nobody

[2014-08-09 03:24] Fsu0413 commented on #170
fixed

[2014-08-09 03:24] #170 closed, assigned to nobody

[2014-08-09 03:24] Fsu0413 commented on #151
072已fix

[2014-08-09 03:24] #151 closed, assigned to nobody

[2014-08-09 03:26] Fsu0413 commented on #103
至今没出过回血问题，close，如果有问题再开

[2014-08-09 03:26] #103 closed, assigned to nobody

[2014-08-09 03:27] Fsu0413 commented on #99
直谏卡牌是已知问题，但是不知道具体触发条件所以一直没有修。
如果他们可以提供记录的话会更好，光一张卡闪的图看不出来任何问题

[2014-08-09 03:27] #99 closed, assigned to nobody

[2014-08-09 03:33] Fsu0413 commented on #124
为何wontfix…………

[2014-08-09 04:45] YanGuam commented on #124
= = 短期无法解决

[2014-08-09 04:51] lrl026 commented on #172
我的是WIN7 X64 VS2010 QT4.8.6 RELEASE。。然后就卡了- -

[2014-08-09 05:04] YanGuam commented on #172
如果是qt版本或编译器的原因就好办。。

[2014-08-09 05:27] YanGuam commented on #173
实现的前提是完成  #146 并行数据处理机制，另外在线性request-reply结构里要为每次询问附加id做标识，实现大致5步
1.服务器计算得出本次线性通信的id，发送request数据包，包内附加此次线性通信的id
2.客户端记录id，移动一次卡牌后向服务器发送notification协议数据包，包内附加通信id标识
3.服务器验证notification包内id，符合此次线性通信的id就broadcast移动
4.客户端完成观星，发送reply数据包（附带id），销毁本地id，服务器验证或等待超时后销毁服务器当前线性通信的id，完成观星
5.观星询问结束后若因为延时等原因收到的不符合当前线性通信id的数据包全部丢弃，防止影响再次观星。

[2014-08-09 08:51] BeginnerSlob commented on #172
那你编译一个Release试试，进入RoomScene游戏开始后，点最小化就会卡。

[2014-08-09 08:52] BeginnerSlob commented on #173
LS思路无误

[2014-08-09 09:56] YanGuam commented on #172
Win7 x64 MinGW4.8.2 Qt5.3.1 Debug正常

[2014-08-09 09:58] YanGuam commented on #172
目测qt版本的原因

[2014-08-09 10:23] BeginnerSlob commented on #172
你用Release试试 - -||||

[2014-08-09 14:34] Fsu0413 commented on #124
………………

[2014-08-09 14:35] Fsu0413 commented on #173
其实我认为实现没有必要，即使你知道的对面摆放牌的顺序，也不可能知道是哪张牌，为何花这时间做这无用功

[2014-08-09 15:00] BeginnerSlob commented on #173
因为玩家有需求，而且这个要求并不无理

[2014-08-09 16:02] Fsu0413 commented on #173
但是为此大改服务器架构真的大丈夫？

[2014-08-09 16:35] YanGuam commented on #173
都说了服务器架构在国战必改。不然预亮个武将都会结束出闪询问。。
而且通信架构从v1开始就很简陋，没有必须保持现状的理由。

[2014-08-09 16:37] YanGuam commented on #173
新架构最好加密数据包，以备不测。

[2014-08-10 00:00] Fsu0413 commented on #173
好吧…………

[2014-08-10 08:56] BeginnerSlob opened #174 "概率出现卡牌锁死"
出牌阶段，无法点击，无法响应hover事件，永久持续，触发及解决方法不明。

[2014-08-10 08:56] BeginnerSlob opened #175 "使用带有expand_pile的viewasskill一定崩溃。原因不明"

[2014-08-10 12:57] ainomelody opened #176 "君张角弘法响应乱武，杀无目标"
贾诩乱武，君张角使用发动了弘法，但是没有选择任何人，弃掉天兵就直接下一个人了..
![Image](http://imgsrc.baidu.com/forum/pic/item/273e58e736d12f2eb7a290d74dc2d56284356837.jpg)
0.6.0
by 330de日子

[2014-08-10 12:59] YanGuam commented on #176
不多谈，那是君张角在弃天兵防止体力流失

[2014-08-10 13:00] YanGuam commented on #176
可以加个log说明

[2014-08-10 13:00] ainomelody commented on #176
= =

[2014-08-10 13:00] ainomelody commented on #176
为毛不杀

[2014-08-10 13:01] YanGuam commented on #176
ai问题

[2014-08-10 13:03] ainomelody opened #177 "大乔流离队友"
大乔太厉害了，都是吴国，一直转我，都死了…AI
0.6.0
by  黯夜追风

[2014-08-10 13:07] ainomelody opened #178 "飞龙后场上出现相同角色"
bug,使用飞龙夺凤以后。

出现两蒋琬费祎。。。
虽然死了一个，但武器说是从未出现的角色，因此认为是bug。
0.6.0
by virgo哥

[2014-08-10 13:12] ainomelody opened #179 "AI喜欢为董卓横征创造条件"
十人国战，剩三魏打一群（董卓），董卓上一位的夏侯渊不断将其打至一血后过，导致其横征了三四次。

也就是缺失 “在无把握杀死或兵粮董卓的情况下避免将其打至一血或空手牌” 的概念。
0.6.0
by 中闪电的小乔

[2014-08-10 13:21] ainomelody opened #180 "AI急袭无视距离"
邓艾两个田全牵我了，最后一个无视距离
![Image](http://imgsrc.baidu.com/forum/pic/item/ba1f77899e510fb385efb136db33c895d3430ceb.jpg)
0.6.0
by ft2182910

[2014-08-10 13:24] ainomelody opened #181 "AI砍队友"
10人局
在我（貂蝉/张任）只剩一血的时候，队友（庞德/纪灵）突然给我补了一刀，不明觉厉，而且也没有铁索连着("▔□▔)/
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=439eaf7f3f6d55fbc5c6762e5d234f40/c3eff4dcd100baa1a818841a4510b912c9fc2ea9.jpg)
0.6.0
by O暗夜公爵O

[2014-08-10 13:32] ainomelody opened #182 "有飞龙不黑杀仁王直接弃杀"
还有就是装备飞龙的武将在只有黑色杀且杀溢出，对面有仁王的时候总是弃杀，明明杀了有收益的。
0.6.0
 by 如释帆飞

[2014-08-10 13:37] ainomelody opened #183 "甘夫人配任何将都能直接把那个将当成白板（经常是到死都不亮，半血摸牌都不要）"
0.6.0
by 如释帆飞

[2014-08-10 13:42] ainomelody opened #184 "AI贾诩于吉千幻黑过拆"
7人局
对有一张“幻”的于吉/贾诩双将使用黑色过河拆桥，他既使用了“千幻”又使用了“帷幕”
0.6.0
by 无敌小棒子

[2014-08-10 14:02] YanGuam commented on #181
这ai一定是虫妹写的。

[2014-08-10 14:02] ainomelody commented on #181
机智

[2014-08-10 14:04] #175 closed, assigned to YanGuam

[2014-08-10 14:11] YanGuam opened #185 "重写TransferCard，并将其和TransferSkill分别移动至card.h和skill.h"
rt,技能卡我简单写的，要重写一下才对。谁要修请assign自己，防止多人修同一个地方。

[2014-08-10 14:47] BeginnerSlob commented on #185
技能卡无所谓- -最后我会重写的

[2014-08-10 14:48] YanGuam commented on #172
@BeginnerSlob 在mainwindow.cpp445行加view->viewport()->update();试试
还是不行就没辙了。

[2014-08-10 14:48] BeginnerSlob commented on #178
不是BUG，死亡角色武将牌移出游戏

[2014-08-10 14:48] #178 closed, assigned to nobody

[2014-08-10 14:49] BeginnerSlob commented on #181
啦啦你再乱说，信不信我砍死你

[2014-08-10 14:49] BeginnerSlob commented on #184
毕竟AI，6666

[2014-08-10 14:55] Fsu0413 commented on #178
其实这个我改过…………我的错，我改回来

[2014-08-10 14:59] BeginnerSlob commented on #172
加了运行就崩溃- -

[2014-08-10 15:01] Fsu0413 commented on #185
我来弄

[2014-08-10 15:03] lrl026 commented on #184
我都经常黑贾诩

[2014-08-10 15:05] lrl026 commented on #181
机智的啦啦，一下子黑了2个人

[2014-08-10 16:41] Fsu0413 opened #186 "woodenox触发技Triggerable"
不多谈，自己看图片
![qq 20140811003947](https://cloud.githubusercontent.com/assets/4150545/3869878/2d76810e-20ad-11e4-98fe-4f1b0ee5e181.jpg)

![qq20140811003951](https://cloud.githubusercontent.com/assets/4150545/3869873/ffd04f78-20ac-11e4-970c-a10c89c7371d.jpg)

[2014-08-10 16:42] Fsu0413 commented on #186
@BeginnerSlob 赶紧爬过来看问题- -

[2014-08-10 16:43] #185 closed, assigned to Fsu0413

[2014-08-10 17:37] #174 closed, assigned to nobody

[2014-08-10 22:56] BeginnerSlob commented on #186
= -你不是说你会修么- -算了，我修完去上班吧

[2014-08-10 23:16] #186 closed, assigned to BeginnerSlob

[2014-08-10 23:16] BeginnerSlob commented on #183
可以判断一下半血摸牌和珠联璧合，因为绝境中一张牌也是很重要的- -

[2014-08-11 00:10] Fsu0413 commented on #186
我哪里来的那么多时间去修……发现的时候已经快1点了

[2014-08-11 01:08] BeginnerSlob commented on #186
你在群里说你来的啊- -

[2014-08-11 03:52] lrl026 commented on #176
974b084e60e3ff2ff27dadfaddf1e1705c1237e1

[2014-08-11 03:52] #176 closed, assigned to nobody

[2014-08-11 04:18] lrl026 commented on #180
把"田"当"顺"的时候就不能拿来计算距离了，是这样吗？

[2014-08-11 04:22] lrl026 commented on #177
没全场图，关了

[2014-08-11 04:22] #177 closed, assigned to nobody

[2014-08-11 04:27] YanGuam commented on #180
是。

[2014-08-11 04:38] BeginnerSlob commented on #180
就是急袭顺，计算的时候fix要+1

[2014-08-11 11:41] zyun7799 commented on #183
这个在之前调整亮将时已修好，在需要时会考虑亮珠帘和半血

[2014-08-11 11:41] #183 closed, assigned to nobody

[2014-08-11 11:45] zyun7799 commented on #167
很疑惑在什么情况下不应该悲歌？

[2014-08-11 11:54] zyun7799 commented on #179
已在smart-ai的cantbeHurt中增加相关内容

[2014-08-11 11:54] #179 closed, assigned to nobody

[2014-08-11 11:55] ainomelody commented on #167
自己比队友更需要保护的时候= =

[2014-08-11 13:05] #184 closed, assigned to nobody

[2014-08-11 13:06] #182 closed, assigned to nobody

[2014-08-11 13:06] #180 closed, assigned to nobody

[2014-08-11 13:07] lrl026 commented on #181
屎前问题了，已修复

[2014-08-11 13:07] #181 closed, assigned to nobody

[2014-08-11 13:09] Fsu0413 commented on #186
我什么时候说过……

[2014-08-11 13:38] BeginnerSlob commented on #186
大概凌晨= =

[2014-08-11 14:24] lrl026 opened #187 "2张固政多牌"
传不了图片，试了就知道了

[2014-08-11 15:14] Fsu0413 commented on #186
我只是说我知道怎么修 ，不过我没说我修……

[2014-08-11 23:08] BeginnerSlob commented on #187
fixed，昨天那个merge木牛的就修了

[2014-08-11 23:12] BeginnerSlob commented on #187
问题好像不在这，，reopen，我再看看

[2014-08-11 23:30] #187 closed, assigned to nobody

[2014-08-12 03:02] ainomelody opened #188 "何太后AI"
，何太后 鸠毒策略，不敢毒对面一血无牌，或被断的残废啊，一天只会毒队友
0.6.0
by 轻按一下Delete

[2014-08-12 03:05] ainomelody opened #189 "电脑经常选孙策主将，副将1.5血"
0.6.0
by Q不死小强Q

[2014-08-12 03:19] ainomelody opened #190 "AI杀带八卦的甄姬郭嘉"
0.6.0
by 天道若存

[2014-08-12 03:55] YanGuam commented on #188
fixed

[2014-08-12 03:55] #188 closed, assigned to nobody

[2014-08-12 03:57] YanGuam commented on #189
fixed

[2014-08-12 03:57] #189 closed, assigned to nobody

[2014-08-12 04:04] YanGuam commented on #172
repaint解决了吗？

[2014-08-12 04:40] BeginnerSlob commented on #172
我去试试

[2014-08-12 04:46] BeginnerSlob commented on #172
太神奇了- -奇迹般修好了- -

[2014-08-12 04:55] #172 closed, assigned to nobody

[2014-08-12 05:32] ainomelody opened #191 "场上出现同将"
第一回合，一号位亮刘备，二号位单亮张飞，我拿上连弩杀死左边的张飞，右边又亮出一个张飞，选将上限是7，开了标阵势，没加君主
![Image](http://imgsrc.baidu.com/forum/pic/item/ded056afa40f4bfbf787d6a1014f78f0f53618c5.jpg)
0.6.0
by 任意角的正切

[2014-08-12 05:34] ainomelody commented on #191
![Image](http://imgsrc.baidu.com/forum/pic/item/66213687e950352abfa96dfd5143fbf2b0118b49.jpg)

[2014-08-12 05:34] ainomelody commented on #191
![Image](http://imgsrc.baidu.com/forum/pic/item/cd5dacec08fa513d6c68272b3f6d55fbb0fbd953.jpg)

[2014-08-12 05:42] Fsu0413 commented on #191
060不清楚，072肯定有这问题，fixed

[2014-08-12 05:42] #191 closed, assigned to nobody

[2014-08-12 11:11] lrl026 commented on #190
一般不会杀，带八卦的国家，没图关了

[2014-08-12 11:11] #190 closed, assigned to nobody

[2014-08-12 11:16] lrl026 commented on #167
悲歌收益很明显，怕死不悲歌，简直就是个白板，所以我觉得悲歌不用改

[2014-08-12 11:48] #167 closed, assigned to lrl026

[2014-08-13 16:42] Fsu0413 opened #192 "Mac系统下Splash完全出不来"
原因不明

[2014-08-13 22:20] BeginnerSlob commented on #146
= =毕竟高城，太了不起了

[2014-08-14 02:52] BeginnerSlob opened #193 "君主在进入游戏后才选择替换。"
选将时应该只有普通备。

[2014-08-14 02:53] BeginnerSlob opened #194 "新的天兵算人头接口"

[2014-08-14 23:00] BeginnerSlob commented on #194
一部分。

[2014-08-14 23:01] BeginnerSlob commented on #193
@Fsu0413 有空写一下？

[2014-08-14 23:36] Fsu0413 commented on #193
…………强行让我去搬以前的sp替换

[2014-08-15 01:34] BeginnerSlob commented on #193
666666666，被你发现了

[2014-08-16 07:31] takashiro commented on #146
fixed...0.0....虽然通信协议还得继续改

[2014-08-16 07:31] #146 closed, assigned to takashiro

[2014-08-16 17:46] #173 closed, assigned to Fsu0413

[2014-08-17 07:27] takashiro opened #195 "AI发动"nil"将【丈八蛇矛】, ***当做【杀】使用"
![spear](https://cloud.githubusercontent.com/assets/1375206/3944007/c94e79c4-25df-11e4-81ee-6b40dbf7fa5c.png)

[2014-08-17 09:23] BeginnerSlob commented on #195
6666666666666

[2014-08-17 09:44] takashiro commented on #195
身为诸葛维【挑衅】的我都要哭泣了

[2014-08-17 10:31] BeginnerSlob commented on #195
哈哈哈哈

[2014-08-17 10:43] YanGuam commented on #195
:six::six::six::six::six::six::six::six::six::six::six::six::six::six::six:

[2014-08-17 11:05] lrl026 opened #196 "尚义选黑牌崩掉"

[2014-08-17 11:35] YanGuam commented on #196
客户端还是服务器

[2014-08-17 12:01] takashiro commented on #196
客户端，CardItem

[2014-08-17 12:44] #195 closed, assigned to nobody

[2014-08-17 16:28] #196 closed, assigned to nobody

[2014-08-19 01:54] BeginnerSlob commented on #194
finished

[2014-08-19 01:54] #194 closed, assigned to BeginnerSlob

[2014-08-19 01:54] BeginnerSlob commented on #193
=.=居然没动静

[2014-08-19 03:51] Fsu0413 commented on #193
昨晚懒了

[2014-08-19 03:52] Fsu0413 commented on #193
……点错

[2014-08-19 04:05] BeginnerSlob commented on #193
= =主要是我不知道从何下手

[2014-08-19 05:11] YanGuam commented on #192
原因不明。

[2014-08-19 05:11] #192 closed, assigned to nobody

[2014-08-19 14:05] lrl026 opened #197 "观星的AI"
观星就是个大坑啊，要不要放弃治疗

[2014-08-19 15:24] YanGuam commented on #197
lrl加油. Never give up.

[2014-08-19 16:55] Fsu0413 commented on #193
弄完……好困，睡觉

[2014-08-19 16:55] #193 closed, assigned to Fsu0413

[2014-08-20 12:59] ainomelody opened #198 "小乔不天香"
8人，小乔被连环火伤不弹，自己手牌有张红桃
![Image](http://imgsrc.baidu.com/forum/pic/item/3c8b292dd42a2834a5b85ae859b5c9ea14cebf0d.jpg)
0.7.2
by 俺是张学友

[2014-08-20 13:37] ainomelody opened #199 "酒杀不拍明将，搞到己方暗将"
十人局
AI问题
暗将/华佗 上家是蜀国，下家是我。当时我没亮将 马腾/袁绍，他为何不杀马岱却来酒杀我？？
![Image](http://imgsrc.baidu.com/forum/pic/item/c78243c2d56285356a6968f192ef76c6a5ef63a3.jpg)
by 无敌小棒子

[2014-08-20 14:03] ainomelody opened #200 "太史拼点赢被断肠后不能使用第二张杀和双杀"
1、8人局。
2、太史慈。
3、装备连弩，左右卡+1，天义拼点成功，第一张杀杀死蔡文姬，然后不能出杀了。
by 张英orz

[2014-08-20 14:08] ainomelody opened #201 "诸葛关羽挂满了红装备，距离内对手田丰1血空牌不会用武圣出杀"
by 光棱牌天启

[2014-08-20 16:02] Fsu0413 commented on #200
只是失去技能而已，flag也会失去？

[2014-08-20 16:03] Fsu0413 opened #202 "技能卡extracost LUA接口"

[2014-08-20 16:04] Fsu0413 commented on #202
还有sgs_ex.lua中关于LUA基本牌/装备/锦囊的about_to_use需要更改

[2014-08-20 16:29] YanGuam opened #203 "AI使用装备后 已打开的菜单缩回"
使用别的牌无此现象，原因不明。

[2014-08-20 16:49] YanGuam opened #204 "实时换肤系统"
- [x] 通信上大致设计是给Player加两个皮肤index属性，客户端发送换肤命令后服务器广播
- [x] UI上可以借鉴tangjs的界面。文件结构上可以建立一个general-skin文件夹，其中的结构为general-skin/zhouyu/1/card.jpg general-skin/zhouyu/1/avatar.png general-skin/zhouyu/1/death.ogg
  general-skin/武将名/皮肤id（从1开始，0代表原插画）/文件名

完成后可以解决#73

[2014-08-20 16:58] YanGuam opened #205 "清理不用的PlayerCardDialog 及 CardButton"
- [x] PlayerCardDialog
- [x] CardButton
- [x] ChooseGeneralDialog （见 #206 by Fs）

[2014-08-20 17:02] YanGuam opened #206 "更改各种dialog的丑陋样式"
改成GraphicsBox的：
- [ ] 选花色的对话框
- [ ] 选势力的对话框
- [x] ChooseGeneralDialog（知己知彼，尚义）

调整样式的：
- [x] ConnectionDialog
- [x] UdpDetectorDialog
- [x] ServerDialog
- [x] ConfigDialog
- [x] FreeChooseDialog
- [x] BanIPDialog
- [x] BanListDialog
- [x] CustomAssignDialog
- [x] CardAssignDialog
- [x] GeneralAssignDialog
- [x] SkillAssignDialog
- [x] GeneralOverview
- [x] GeneralSearch
- [x] CardOverview
- [x] Ru

[2014-08-20 17:04] YanGuam opened #207 "在延时锦囊使用后的小图标上用ToolTip显示锦囊详细信息及原卡牌信息"
原来的太过简略。

[2014-08-20 17:05] YanGuam opened #208 "实时更新BanIPDialog中的信息"
用信号槽即时更新对话框中的信息。

[2014-08-20 18:30] #203 closed, assigned to nobody

[2014-08-20 22:56] BeginnerSlob commented on #199
限制暗将很正常吧？

[2014-08-20 22:58] BeginnerSlob opened #209 "泡泡框在缩放后位置显示不正常"
如题- -似乎是没有实时更新的缘故

[2014-08-20 23:35] Fsu0413 commented on #206
话说知己知彼和尚义可以考虑解耦

[2014-08-20 23:37] ainomelody commented on #199
确实= =

[2014-08-20 23:41] Fsu0413 commented on #204
个人不喜建议有服务器广播的皮肤系统，需要服务器上有皮肤。
还是在自己本地客户端这里自己弄皮肤比较好。否则本来神杀的网络连接就容易掉线，还要传个好几百K的皮肤上去…………

[2014-08-21 00:18] Fsu0413 commented on #202
应该可以了吧……LUA基本牌和装备都没有about_to_use

[2014-08-21 00:18] #202 closed, assigned to Fsu0413

[2014-08-21 00:54] Fsu0413 opened #210 "retrive AI Chat"

[2014-08-21 00:55] Fsu0413 commented on #192
这个wontfix……不准备跨平台了么

[2014-08-21 01:13] takashiro commented on #204
啦啦的意思是不需要服务器传输皮肤，只广播皮肤ID吧。不过考虑到个人偏好相对固定，我也觉得做在本地应该要好一点，可以放在配置选项中。

[2014-08-21 01:15] BeginnerSlob commented on #204
= =啦啦的意思肯定是广播ID，然后我的意见和高城一致，可是啦啦不听- -

[2014-08-21 02:18] Fsu0413 commented on #204
广播皮肤id的话，万一那个客户端没有皮肤不就悲剧

[2014-08-21 06:03] #209 closed, assigned to nobody

[2014-08-21 06:43] YanGuam commented on #204
我想换个sp周瑜保持良好的审美形象，结果别人看到的都还是普通周瑜。
在配置选项中，加个是否同步更换皮肤的选项可破。

[2014-08-21 06:44] YanGuam commented on #192
splash是qt提供的类，不好用那肯定是qt的原因

[2014-08-21 06:47] YanGuam commented on #199
上家明将不打，酒杀一个暗将哪里正常了。。

[2014-08-21 06:48] YanGuam commented on #206
耦合了吗？

[2014-08-21 06:48] ainomelody commented on #199
- -暗将具有改变局势的力量。

[2014-08-21 06:51] YanGuam commented on #206
ChooseGeneralDialog早就被移除了。

[2014-08-21 06:53] YanGuam commented on #199
上家具有砍死你的力量

[2014-08-21 07:54] lrl026 commented on #199
这个肯定是随到2b的ai

[2014-08-21 10:54] Fsu0413 commented on #192
好吧

[2014-08-21 10:55] Fsu0413 commented on #206
…………单独做个函数for knownboth and shangyi，加lua接口

[2014-08-21 11:03] lrl026 commented on #200
tianyi有EventLoseSkill清flag

[2014-08-21 11:07] #198 closed, assigned to nobody

[2014-08-21 11:07] #201 closed, assigned to nobody

[2014-08-21 11:13] Fsu0413 commented on #200
机智的lrl，我都没发现

[2014-08-21 11:25] #200 closed, assigned to nobody

[2014-08-21 16:08] BeginnerSlob commented on #199
= =限制暗将是一种打法啊。。明将互杀只会被偷取革命果实。

[2014-08-21 16:10] YanGuam commented on #199
面对已知的强敌，杀一下暗将可以，酒杀肯定不是好选择

[2014-08-22 05:01] lrl026 opened #211 "调整无懈可击的AI"
- [x] 1.非友方时可以考虑不用无懈
- [x] 2.是否该选择国无懈

[2014-08-22 05:10] lrl026 commented on #199
这样吧，不喝酒杀不明身份的暗将

[2014-08-22 08:42] #197 closed, assigned to lrl026

[2014-08-22 08:48] #199 closed, assigned to nobody

[2014-08-23 14:22] lrl026 commented on #210
ai 的聊天内容也不太适合国战

[2014-08-24 04:37] Fsu0413 commented on #210
台词设计苦手啊

[2014-08-24 08:42] lrl026 commented on #210
交给群里面或者贴吧，论坛

[2014-08-25 07:20] #208 closed, assigned to takashiro

[2014-08-26 03:56] lrl026 opened #212 "悲歌 ai"
周泰/蒋钦 使用了 铁索连环[￼K]，目标是 吕布/暗将, 袁绍/纪灵
周泰/蒋钦 使用了 火杀[￼4]，目标是 袁绍/纪灵
周泰/蒋钦 对 袁绍/纪灵 造成了 1 点伤害[火焰属性]
袁绍/纪灵 当前体力为 2 ，体力上限为 4
吕布/暗将 弃置了 桃[￼Q]
吕布/蔡文姬 明置了武将，主将为 吕布，副将为 蔡文姬
袁绍/纪灵 的判定牌为 丈八蛇矛[￼Q]
袁绍/纪灵 的判定结果为 丈八蛇矛[￼Q]
周泰/蒋钦 将武将牌叠置，现在是 叠置状态
吕布/蔡文姬 处于横置状态，将受到传导的属性伤害
吕布/蔡文姬 的防具【藤甲】效果被触发，火焰伤害由 1 点增加至 2 点
周泰/蒋钦 对 吕布/蔡文姬 造成了 2 点伤害[火焰属性]
吕布/蔡文姬 当前体力为 1 ，体力上限为 4
吕布/蔡文姬 弃置了 藤甲[￼2]
吕布/蔡文姬 卸载了 藤甲[￼2]
吕布/蔡文姬 的判定牌为 顺手牵羊[￼3]

[2014-08-26 05:10] Fsu0413 commented on #212
没看出来什么问题……

[2014-08-26 05:11] Fsu0413 commented on #212
…………卧槽，看出来了

[2014-08-27 10:18] #212 closed, assigned to nobody

[2014-08-28 06:12] #211 closed, assigned to lrl026

[2014-08-28 07:30] Fsu0413 opened #213 "删除lua中os.execute函数"

[2014-08-28 10:22] lrl026 commented on #213
这玩意怎么了

[2014-08-28 11:38] Fsu0413 commented on #213
@lrl026 主机开作弊的话客户机可以通过在服务器端执行脚本运行这个函数随意控制主机，这样的话主机一定程度上会变成肉鸡

[2014-08-28 11:38] Fsu0413 commented on #213
removed

[2014-08-28 11:38] #213 closed, assigned to nobody

[2014-08-28 12:12] lrl026 commented on #213
这么说的话，应该在服务器上加个选项，屏蔽部分 io，os 函数

[2014-08-28 12:20] YanGuam commented on #213
c写的lua里很难获取神杀的用户设置

[2014-08-28 13:40] lrl026 commented on #213
要不在启用作弊那里加个选项，增加一个选项在服务器执行脚本

[2014-08-28 15:34] Fsu0413 commented on #213
即使让在服务器里执行脚本的话，也不能让客户端随意调用服务器的程序，这段代码肯定是要删的

[2014-08-29 17:31] Fsu0413 opened #214 "在宽度小于932时，窗口显示会不正确"

[2014-08-29 17:31] Fsu0413 commented on #214
图片上传一直失败，就不传了

[2014-08-29 18:08] YanGuam commented on #204
completed.

[2014-08-29 18:08] #204 closed, assigned to nobody

[2014-08-29 23:33] #207 closed, assigned to takashiro

[2014-08-30 12:59] Fsu0413 opened #215 "安卓 UI bug"
此处留言。

[2014-08-30 13:28] Fsu0413 commented on #215
手机：GT-i9100G
现象：界面各种错乱，已经无语

![qq 20140830205946](https://cloud.githubusercontent.com/assets/4150545/4099024/a6030e1a-3045-11e4-8604-2f173be56074.jpg)
![qq 20140830205951](https://cloud.githubusercontent.com/assets/4150545/4099023/a602c6e4-3045-11e4-95b8-2bd1db819c05.jpg)

[2014-09-02 12:44] lrl026 opened #216 "调整流离ai"

[2014-09-04 07:35] BeginnerSlob opened #217 "玩家反映希望加入房间密码功能"
防止局域网内（游侠）的路人破坏开黑氛围

[2014-09-05 13:00] lrl026 opened #218 "ui 小问题"
![image](https://cloud.githubusercontent.com/assets/3211541/4164915/53821c92-34fc-11e4-8b30-b475940c8765.png)

这个横向的滚动条太不和谐了

[2014-09-05 17:43] YanGuam commented on #73
82潜水，还差两张武将牌图

[2014-09-05 17:46] YanGuam commented on #39
任务移交给 @QSanguosha-Rara/luaexamples-team

[2014-09-07 08:27] lrl026 opened #219 "调整铁索ai配合火烧"

[2014-09-09 15:04] #216 closed, assigned to lrl026

[2014-09-09 15:04] #219 closed, assigned to lrl026

[2014-09-14 14:26] BeginnerSlob opened #220 "玩家希望游戏开始后预留时间允许玩家预亮技能"
可以考虑加个提示，类似手气卡的，

[2014-09-14 14:27] BeginnerSlob opened #221 "AI会用铁索连贾诩"
大概和火烧X铁索的部分有关

[2014-09-14 14:28] BeginnerSlob opened #222 "点开右上角的菜单，若牌局正在进行中，菜单会自动关闭"
可能和卡牌移动或是log更新有关

[2014-09-14 14:28] BeginnerSlob opened #223 "AI蒋钦可以空城状态下尚义"
这个一听就很酷炫- -

[2014-09-14 15:04] Fsu0413 commented on #220
trigger全局gamestart之后，延时3秒开始。如果加提示的话还要加个操作时间的延时，太长了

[2014-09-15 01:32] takashiro commented on #222
#203 中修过装备牌的使用导致菜单缩回的问题。

[2014-09-15 05:09] lrl026 commented on #223
没看出shangyiAI有问题。。

[2014-09-15 06:39] BeginnerSlob commented on #223
= =可是昨天（还是前天，忘了）的编译版本出现了这个问题- -回头我再看看

[2014-09-18 05:22] lrl026 commented on #223
![image](https://cloud.githubusercontent.com/assets/3211541/4315349/5b660e54-3ef3-11e4-8b29-6f1cd64717e3.png)
主要部分都没改过，实在看不出有什么问题

[2014-09-20 14:56] takashiro commented on #222
发现Android下还是没解决。包括#203中发现的装备牌，有多种情况导致菜单关闭

[2014-09-30 10:42] BeginnerSlob opened #224 "重构gainAnExtraTurn"
一名角色A获得额外回合的本意应该是：
将下个行动角色改为A
所以要从roomthread里面动手，具体我来

[2014-09-30 11:35] #223 closed, assigned to nobody

[2014-09-30 12:38] #224 closed, assigned to nobody

[2014-10-01 07:20] #214 closed, assigned to nobody

[2014-10-02 22:51] BeginnerSlob opened #225 "transferbutton会引起崩溃"
重现方式不明，原因不明，概率极高，参见休斯视频

[2014-10-04 15:54] lrl026 commented on #221
看了一遍，都有hasTrickEffective，应该是不会用啊

[2014-10-10 11:57] lrl026 commented on #225
![image](https://cloud.githubusercontent.com/assets/3211541/4591960/78415afa-5074-11e4-957a-df369ee9e93f.png)

[2014-10-10 12:02] lrl026 commented on #225
![image](https://cloud.githubusercontent.com/assets/3211541/4591981/105bf0a2-5075-11e4-8d36-9525b85f1132.png)

[2014-10-10 12:09] lrl026 commented on #225
快来拯救一下transferbutton吧
_transferButtons没能正确的移除

[2014-10-10 13:33] #221 closed, assigned to nobody

[2014-10-15 16:31] Fsu0413 opened #226 "替换fmod为QAudioXXX"
基本思路就是在audio.cpp里替换fmodex的引用，同时删掉菜单里的关于fmod

[2014-10-16 06:53] takashiro commented on #226
赞啊，几个.h .cpp总比好多个.dll .so方便

[2014-10-16 09:39] Fsu0413 commented on #226
@takashiro 不过目测……单独用QAudio的话不能放ogg……要link别的库，还不如fmod

[2014-10-16 09:41] Fsu0413 commented on #226
如果fmod可以静态link就好了，也不用维护dll

[2014-10-16 12:26] takashiro commented on #226
fmod不开源嘛，没办法。或许可以考虑换用OggVorbis自己出的libogg和libvorbis，放弃fmod支持的其他格式。不过这样自定义背景音乐那边，支持的格式只能是系统默认可解码的几种格式外加ogg了。

[2014-10-16 14:32] Fsu0413 commented on #226
现在看来还是fmod好，保持持续更新也不是一件很难的事，就这样吧

[2014-10-16 14:33] Fsu0413 commented on #226
看看啦啦怎么说 @YanGuam

[2014-10-17 13:03] lrl026 commented on #225
貌似不会崩了

[2014-10-17 15:37] YanGuam commented on #226
暂时还是用fmod吧。。

[2014-10-17 15:37] #226 closed, assigned to Fsu0413

[2014-10-18 17:01] #205 closed, assigned to YanGuam

[2014-10-20 12:24] ainomelody opened #230 "崩：开始时只选一个武将"
只选择一个武将，等时间到了，就会崩。只有剑阁会出现这种情况，2-10人局正常。
besides,选了一个和没选一样么= =，主副将都不是选择的那一个。
小场景里选一个，更坑。
![image](https://cloud.githubusercontent.com/assets/7959436/4701017/f8a71b1c-5853-11e4-95ef-6e5fcdef6edc.png)

[2014-10-20 12:30] ainomelody opened #231 "选将框武将牌重叠及半空悬停"
![Image](http://imgsrc.baidu.com/forum/pic/item/d08698eef01f3a2994b193b39a25bc315d607ca0.jpg)

[2014-10-20 12:31] ainomelody commented on #231
![image](https://cloud.githubusercontent.com/assets/7959436/4701102/00203922-5855-11e4-990f-cef8738bdebc.png)

[2014-10-20 12:32] ainomelody commented on #231
武将牌重叠的时候向下拖就会半空悬停

[2014-10-20 12:37] ainomelody opened #232 "继续崩= ="
马老板发工资的时候直接崩，贾诩乱武也是。

[2014-10-20 13:50] ainomelody opened #233 "英魂预亮后不提示发动"

[2014-10-20 13:57] takashiro commented on #231
看样子是QQuickWindow在用很奇怪的方式影响QMainWindow的绘制。

[2014-10-21 01:28] Fsu0413 commented on #231
什么情况，只能assign一个人么

[2014-10-21 02:26] lrl026 commented on #233
英魂: (此技能不可预亮)
准备阶段开始时，若你已受伤，你可以选择一项：1.令一名其他角色摸X张牌，然后其弃置一张牌；2.令一名其他角色摸一张牌，然后其弃置X张牌。（X为你已损失的体力值）

[2014-10-21 02:27] lrl026 commented on #233
到底能不能预亮。。

[2014-10-21 04:31] ainomelody commented on #233
。。。。。。。。。。。。。

[2014-10-21 07:21] takashiro commented on #231
Quick 2.0和QPainter系混用出的问题太奇怪太多。
lrl大神说的对。感觉我换2.0操之过急了，现在还不是时候。
@Fsu0413  @YanGuam  改回QDeclarative*？

[2014-10-21 08:48] lrl026 commented on #231
我觉得先把改animation的还原吧，重发个exe
要不现在的版本根本没法玩

[2014-10-21 14:55] Fsu0413 commented on #233
不能预亮

[2014-10-21 14:55] Fsu0413 commented on #231
等等，我感觉应该是缺plugin

[2014-10-22 07:10] Fsu0413 commented on #231
暂时把lightbox写在cpp里吧，等全部脚本化之后再弄这个也不晚

[2014-10-22 07:38] BeginnerSlob opened #234 "取消会导致青钢和青龙刀Mark残留。"
=。=思索解决方案中

[2014-10-22 10:16] Fsu0413 commented on #234
青钢不会残留，时机晚于取消，残留的只有青龙

[2014-10-22 11:29] takashiro commented on #222
Photo装备区，进度条QProgressBar，武将牌上的牌QPushButton均已修。
还剩下一些现在不会自动show()抢焦点的部分——录像重放控件，聊天窗和游戏记录框等。

[2014-10-22 11:29] #222 closed, assigned to nobody

[2014-10-23 07:19] ainomelody commented on #233
双将只亮孙坚不能英魂

[2014-10-23 10:31] ainomelody opened #235 "飞龙后弃光牌"
![Image](http://imgsrc.baidu.com/forum/pic/item/5fe957b5c9ea15ce63cb4c69b5003af33b87b2ff.jpg)

[2014-10-23 10:35] ainomelody opened #236 "被飞龙复活的角色只会摸牌弃牌挂装备"

[2014-10-23 10:57] ainomelody opened #237 "没目标的杀。。。"
![image](https://cloud.githubusercontent.com/assets/7959436/4751855/609742d2-5aa3-11e4-829e-4a42637c33c1.png)

[2014-10-23 13:52] BeginnerSlob commented on #235
fixed

[2014-10-23 13:52] #235 closed, assigned to nobody

[2014-10-23 13:53] BeginnerSlob commented on #234
你说的是青釭剑，我说的是青钢Mark。。。或者说是青钢Tag

[2014-10-23 15:53] Fsu0413 commented on #234
我说的就是Qinggang Tag

[2014-10-23 15:58] Fsu0413 commented on #233
test miss

[2014-10-23 15:58] #233 closed, assigned to Fsu0413

[2014-10-24 04:00] BeginnerSlob commented on #234
= =难道不能手动加青钢Tag?比如视为你使用一张无视防具的杀。

[2014-10-24 13:38] #237 closed, assigned to nobody

[2014-10-24 13:39] #236 closed, assigned to nobody

[2014-10-24 16:55] Fsu0413 commented on #234
………………等到TargetConfirmed时再加qinggangtag

[2014-10-24 16:55] Fsu0413 commented on #234
targetchosen

[2014-10-25 10:58] Fsu0413 opened #238 "通过askForDiscard发动的技能加clientlog"
方法：askForDiscard参数中加入notify-skill

[2014-10-25 10:58] #232 closed, assigned to nobody

[2014-10-25 10:58] Fsu0413 commented on #232
打包的时候少打了dll导致

[2014-10-25 12:26] BeginnerSlob commented on #234
强行麻烦- -也是醉

[2014-10-25 12:31] BeginnerSlob opened #239 "= =据lrl说，鬼才没法木牛。"
= =也是不明所以。

[2014-10-25 13:00] lrl026 commented on #239
![image](https://cloud.githubusercontent.com/assets/3211541/4779814/d8401a30-5c46-11e4-985a-ff43ca31bd5a.png)

[2014-10-25 13:28] lrl026 commented on #239
不过不重要，ai能用就行

[2014-10-25 15:11] Fsu0413 commented on #234
………………没办法

[2014-10-25 16:30] #225 closed, assigned to YanGuam

[2014-10-25 16:39] #73 closed, assigned to nobody

[2014-10-25 18:23] #231 closed, assigned to YanGuam

[2014-10-26 06:56] #218 closed, assigned to YanGuam

[2014-10-26 08:16] YanGuam commented on #230
无法重现

[2014-10-26 08:27] Fsu0413 commented on #230
@YanGuam 剑阁

[2014-10-26 08:28] YanGuam commented on #230
我这里无法重现，你呢？

[2014-10-26 09:03] Fsu0413 commented on #230
@YanGuam 重现

[2014-10-26 09:23] #239 closed, assigned to nobody

[2014-10-26 09:26] YanGuam commented on #39
不干了，主线里再做。

[2014-10-26 09:26] #39 closed, assigned to nobody

[2014-10-26 09:28] YanGuam commented on #206
不干了，主线里全部重写。

[2014-10-26 09:28] #206 closed, assigned to YanGuam

[2014-10-26 09:29] YanGuam commented on #210
不干了，任务移交主线

[2014-10-26 09:29] #210 closed, assigned to Fsu0413

[2014-10-26 09:33] YanGuam commented on #215
移交主线

[2014-10-26 09:33] #215 closed, assigned to takashiro

[2014-10-26 09:34] YanGuam commented on #217
移交主线

[2014-10-26 09:34] #217 closed, assigned to nobody

[2014-10-26 10:05] #238 closed, assigned to nobody

[2014-10-26 11:09] #230 closed, assigned to takashiro

[2014-10-26 11:25] ainomelody opened #240 "卧龙AI"
剑阁AI 魏延/卧龙，单亮卧龙，手握6牌，被乐被兵，到他的回合亮将魏延，但是没有使用看破
兵中乐中，弃置了6张牌，里面有2张黑的
![Image](http://imgsrc.baidu.com/forum/pic/item/56036ed9f2d3572c2fb2d6a18913632763d0c349.jpg)

[2014-10-26 11:27] ainomelody opened #241 "孙策+孙坚组合，杀死一个人摸了两次牌！"
![Image](http://imgsrc.baidu.com/forum/pic/item/db042b7f9e2f07083067897dea24b899a801f2bb.jpg)

[2014-10-26 12:08] BeginnerSlob commented on #241
fixed

[2014-10-26 12:13] #241 closed, assigned to nobody

[2014-10-26 12:14] #240 closed, assigned to nobody

[2014-10-26 13:57] #234 closed, assigned to nobody

[2014-10-27 01:16] BeginnerSlob commented on #220
= =加个框吧- -这个delay在配置差的电脑上和没有delay没有区别
或者把那个单机自动预亮的设置改成所有游戏自动预亮

[2014-10-27 05:11] BeginnerSlob opened #242 "距离技亮将"
整体思路：
卡牌增加距离技亮将参数（类TargetModSkill）
Player类新增一个方法询问距离亮将int Player::countingDistanceTo(const Player *other) const  = 0;
在client和server分别重载（其中client无法询问亮将-借刀待修正）

[2014-10-27 05:11] BeginnerSlob commented on #242
考虑到太复杂，暂时不考虑动手。

[2014-10-27 08:51] BeginnerSlob opened #243 "方天高亮"
= =似乎回合武圣之类的高亮冲突，该怎么玩。。。

[2014-10-27 13:48] ainomelody opened #244 "桃目标转移，，，"
![Image](http://imgsrc.baidu.com/forum/pic/item/27190646f21fbe09a1f1e77668600c338644ad73.jpg)

[2014-10-27 13:51] ainomelody commented on #244
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=9905e1786359252da3171d0c049a032c/8cc40524ab18972b94fb03a8e5cd7b899c510ae4.jpg)

[2014-10-27 13:55] YanGuam commented on #243
为何一定要点方天才能发动技能

[2014-10-27 14:55] lrl026 commented on #244
fixed
d89894b9e0abfea1d74c9dc6b00c2df3af3a09e3

[2014-10-27 14:55] #244 closed, assigned to nobody

[2014-10-27 15:46] Fsu0413 commented on #243
我也不赞成点方天发动技能……

[2014-10-29 05:19] ainomelody opened #245 "铁索传导天香伤害摸牌"
![Image](http://imgsrc.baidu.com/forum/pic/item/a4cb8a18367adab42c04102688d4b31c8501e4d5.jpg)

[2014-10-30 08:04] BeginnerSlob commented on #243
1.视为使用杀需要可以发动方天特效。
2.将短兵的额外目标和方天的基本目标做区分。
3.在只杀两名角色的时候，区分方天和(短兵or天义)的区别。
如果能实现上述三点，我同意“不点方天也能发动方天”。@YanGuam @Fsu0413

[2014-10-30 08:08] BeginnerSlob commented on #243
哦对- -还要兼顾1&&2

[2014-10-30 09:44] lrl026 opened #246 "调整ai使用多目标杀"
使用多目标杀时，尽量避免使用方天杀，毕竟有负面效果

[2014-10-30 09:55] lrl026 commented on #220
要不把那倒计时3秒改到这里，就不会延长太多时间

[2014-10-30 10:43] Fsu0413 commented on #243
我记得虫妹以前跟我说过这个问题，我的想法是把发动方天天义短兵等等的选择放到Slash::onUse()函数里，我也曾经尝试实现过，后来感觉有点问题就没再继续弄，但是总是感觉这个实现有点…………
现在的问题是【杀】牵扯到的结算特别复杂而且很乱……求三国杀官方简化【杀】的结算流程。

[2014-10-30 10:52] #245 closed, assigned to Fsu0413

[2014-10-30 14:02] YanGuam commented on #243
@BeginnerSlob 否则1.需要颠覆现有视为技架构。
2.耦合。

第一点对于人员逐步撤离的版本来说不现实。

[2014-10-30 14:04] YanGuam commented on #243
而且耦合也很不好做。   我建议在服务器突破，而不是ui上

[2014-10-30 14:56] lrl026 opened #247 "playercardbox崩溃"
贴吧：对手牌数大于10且有装备的武将使用拆、顺、奋命等会发生闪退，如果没装备的话手牌会正常分两排显示

![image](https://cloud.githubusercontent.com/assets/3211541/4845529/4d30c5ae-6045-11e4-80af-b0bb9d7f5092.png)

[2014-10-31 06:09] BeginnerSlob commented on #243
= =你们加油- -除非你们能解决这个方天杀的结算，否则我不同意改方天

[2014-10-31 06:12] BeginnerSlob commented on #220
= =本来是倒计时3秒，然后选将
强行改了的话就是先选将再倒计时，大丈夫？

[2014-11-01 10:08] #247 closed, assigned to YanGuam

[2014-11-01 17:59] #243 closed, assigned to YanGuam

[2014-11-01 18:05] YanGuam commented on #220
所有游戏自动预亮吧

[2014-11-01 19:23] #220 closed, assigned to YanGuam

[2014-11-06 08:35] ainomelody opened #248 "挟天子弃牌不能礼让"

[2014-11-06 08:37] ainomelody opened #249 "三尖两刃刀搞自己"
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=1df046b43e6d55fbc5c6762e5d234f40/c3eff4dcd100baa1f6766dd14410b912c9fc2e57.jpg)

[2014-11-06 08:38] ainomelody commented on #249
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=6589223756fbb2fb342b581a7f4b2043/a40edd00baa1cd114eec584aba12c8fcc2ce2d57.jpg)

[2014-11-06 08:39] ainomelody commented on #249
火杀目标黄月英

[2014-11-06 08:40] ainomelody opened #250 "出现同将"
![Image](http://imgsrc.baidu.com/forum/pic/item/55259c529822720e43f5519178cb0a46f31fabf0.jpg)司马懿
![Image](http://imgsrc.baidu.com/forum/pic/item/eb974fa98226cffc0e790cd9ba014a90f703ea58.jpg)甄姬

[2014-11-06 08:45] ainomelody commented on #248
怎么贯石斧也不能礼让= =

[2014-11-06 14:31] YanGuam commented on #250
！

[2014-11-07 01:14] Fsu0413 commented on #248
确定是AI问题还是程序问题

[2014-11-07 04:32] ainomelody commented on #248
实测程序问题

[2014-11-07 08:50] lrl026 commented on #249
原因不明

[2014-11-07 10:56] lrl026 commented on #249
大概和结婚有关，大概fixed

[2014-11-07 10:56] #249 closed, assigned to lrl026

[2014-11-08 01:18] ainomelody opened #251 "糜夫人进入出牌阶段，发动存嗣，出杀，没有提示勇决"

[2014-11-08 01:33] Fsu0413 commented on #251
回复错误，已删

[2014-11-08 01:33] Fsu0413 commented on #248
da4f182a7c7af478c25a2f0157921d7706b02511

[2014-11-08 01:33] #248 closed, assigned to nobody

[2014-11-08 01:52] #251 closed, assigned to Fsu0413

[2014-11-08 03:08] zyun7799 opened #252 "能否在窗口右上角标出各势力人数"
像身份局标身份数量那样
![swswd](https://cloud.githubusercontent.com/assets/7825137/4963034/830f9ece-66f4-11e4-9285-66b3e2a129f4.png)

[2014-11-08 03:10] zyun7799 opened #253 "游戏结束后不能复制文字记录"
战报窗口求加个X，
或者增加一个复制记录的按钮

[2014-11-08 07:52] ainomelody opened #254 "角色阵亡后判定区的牌仍显示在脸上"

[2014-11-09 06:33] lrl026 opened #256 "远古bug"
lua 里 card：getPackage（） 都是返回空串

[2014-11-09 07:28] YanGuam commented on #256
看了下，clone的时候不能传递parent 因为parent是在主线程上的，服务器的卡牌在room线程上

解决方案还需讨论研究

[2014-11-09 07:43] YanGuam commented on #254
很不幸，无法重现

[2014-11-09 07:57] #253 closed, assigned to YanGuam

[2014-11-09 09:08] lrl026 commented on #256
那么应该可以用getEngineCard，我去试试

[2014-11-09 10:00] YanGuam commented on #252
新架构再实现，挺麻烦的

[2014-11-09 10:00] #252 closed, assigned to YanGuam

[2014-11-10 11:07] ainomelody commented on #254
![qq 20141110190620](https://cloud.githubusercontent.com/assets/7959436/4974902/aae6e5a0-690c-11e4-81d3-8fc07f451258.jpg)

当前窗体失去焦点标记就会消失

[2014-11-11 07:40] Fsu0413 opened #257 "在自由选将时屏蔽剑阁武将"
2014-11-11 15:17:47  凌乱の码农
@【萌萌哒】Rara @【菜菜哒】虫妹 @【崩坏】高城 @【大菠萝】lrl026 @【哎哎】正切
我准备在自由选将框中屏蔽掉剑阁专用武将，大家有没有异议

2014-11-11 15:18:25  医治曙光(631174051)
3

2014-11-11 15:18:28  医治曙光(631174051)
2

2014-11-11 15:18:30  医治曙光(631174051)
1

2014-11-11 15:18:34  医治曙光(631174051)
都没有异议

2014-11-11 15:18:36  医治曙光(631174051)
你改吧

2014-11-11 15:19:06  凌乱の码农
我得晚上回去才能改……如果没异议我就去开issue

2014-11-11 15:19:52  医治曙光(631174051

[2014-11-12 00:33] Fsu0413 commented on #257
3dd19c8599f0d02570a16f08294f9b2ef915206f

[2014-11-12 00:33] #257 closed, assigned to nobody

[2014-11-12 00:34] Fsu0413 commented on #254
重画的问题？

[2014-11-12 14:46] lrl026 opened #258 "AI 问题汇总"
- [x] 1.吕布无双AI出一闪掉血
 【没录像无解】
- [x] 2.黄盖弃牌阶段弃桃子怎么办？
- [x] 3.非群雄的ai在张角(非君主)存活时会去判八卦/八阵
- [x] 4.还有是电脑不会用木牛流马里面的牌，给桃都不吃......
- [x] 5.传了张木牛流马给华佗，里面有红杀红闪，南蛮，华陀啪，用木牛急救
- [x] 6.我是1血华佗，鲁肃好施给我3红牌然后干我。。【没录像无解】
- [x] 7.太史慈不要连横大点数。一次给我了一张K然后跟我天义。
- [x] 8.张辽因貂蝉的离间杀死了曹操，手里有桃不救，却白白丢了四张手牌，这AI也是醉了【没录像无解】
- [x] 9.另外有一次剑阁AI放了个联军盛宴让对面回了3滴血自己才拿4张牌；水淹七军似乎没有考虑武将技能对牌的影响。
- [x] 10.昨天做掉贾诩，暗将华佗，一手红牌，不懂得急救。应该是没有的,我说的条件是华佗暗将.

[2014-11-12 16:28] lrl026 commented on #258
好多啊，争取在明年前弄完

[2014-11-12 23:45] Fsu0413 commented on #258
无录像不管了吧

[2014-11-13 02:01] ainomelody opened #259 "不能禁止AI聊天"

[2014-11-13 02:19] ainomelody commented on #258
还有我说的那个神速弃木牛，里面一张桃子。神速的AI感觉。。。不能愉快玩耍

[2014-11-13 02:43] lrl026 commented on #259
能啊，怎么不能.
我实测可以禁止啊

[2014-11-13 03:04] ainomelody commented on #259
@Fsu0413

[2014-11-13 06:01] ainomelody opened #260 "弘法时点问道，天兵留在手牌中"
![image](https://cloud.githubusercontent.com/assets/7959436/5023977/81937140-6b3d-11e4-8721-aa2b5a304e66.png)

就算装备了还是那样= =

[2014-11-13 06:02] ainomelody commented on #260
使用这些牌不会进入弃牌堆,可以无限使用.

[2014-11-13 16:30] Fsu0413 commented on #258
@ainomelody 木牛ai早就解决了吧

[2014-11-17 14:01] ainomelody opened #261 "飞龙招降的糜夫人存嗣不能闺秀"

[2014-11-17 14:31] lrl026 opened #262 "把自动保存录像功能改为默认开启？"
方便处理各种问题

[2014-11-19 00:16] Fsu0413 commented on #262
会导致神杀文件夹迅速变大，一个录像好几百k呢

[2014-11-19 00:37] Fsu0413 opened #263 "移植Para版的卡牌无效，放到gamerule里，不放到技能里"

[2014-11-19 03:06] takashiro commented on #262
说起录像，我想学一下docx, xlsx这种格式对录像文件压缩。基本能降到几十KB(●´ω｀●)ゞ不过还是避免不了神杀文件夹迅速变大，可能我们需要自动清除老录像了=。=

[2014-11-19 05:00] Fsu0413 commented on #263
好久不看代码了居然被虫妹抢先merge了…………close

[2014-11-19 05:00] #263 closed, assigned to nobody

[2014-11-19 05:02] Fsu0413 commented on #262
@takashiro docx，xlsx不就是zip么……压缩的话，正好用7z来压…………

[2014-11-19 05:43] takashiro commented on #262
对啊，很方便的。做成能读多个文件的压缩包就更小了(●´ω｀●)ゞ

[2014-11-20 05:47] ainomelody opened #264 "选择发动屯田和天妒，不能完全显示"
![image](https://cloud.githubusercontent.com/assets/7959436/5120312/3dad0508-70bb-11e4-9982-847aba209249.png)

[2014-11-20 06:02] ainomelody opened #265 "君刘在场张飞不能无视防具"
![image](https://cloud.githubusercontent.com/assets/7959436/5120405/2b660122-70bd-11e4-8bad-e0c893e99fe5.png)
![Image](http://imgsrc.baidu.com/forum/pic/item/5694fe1fbe096b630c1889020f338744eaf8acb6.jpg)

[2014-11-20 06:02] ainomelody commented on #265
@Fsu0413

[2014-11-20 08:21] ainomelody opened #266 "当有技能（如三尖、护援）需要选择角色时，不满足发动条件的角色不会变深（虽然无法选择）。 不过选择后取消选择，就变深了"

[2014-11-20 09:04] ainomelody opened #267 "诸葛杀小乔，小乔弹月英，诸葛居然见死不救"
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=d3ebb4880bfa513d51aa6cd60d6c554c/3bdbc53d70cf3bc7dd59ecb8d200baa1cc112a5e.jpg)
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=fb47bf7c942bd40742c7d3f54b889e9c/f1e65582b2b7d0a2fe9725c9c8ef76094a369a5e.jpg)

[2014-11-20 12:43] #265 closed, assigned to nobody

[2014-11-20 15:02] #261 closed, assigned to nobody

[2014-11-21 02:07] ainomelody opened #268 "调整飞龙与烈弓发动顺序（即TargetChosen时机的结算）"

[2014-11-21 02:08] ainomelody commented on #250
新版本记录AI选将框

[2014-11-21 03:43] ainomelody opened #269 "AI黄月英兵远位不亮将"

[2014-11-21 11:12] YanGuam commented on #262
维护第三方模块总是费劲= =

[2014-11-21 11:36] takashiro commented on #262
看啦啦的皮肤包怎么弄了=。=
不用7z的话，录像可以考虑简单地用qCompress和qUncompress来单个文件压缩，仔细一想上面说的固实压缩影响单个文件读取速度，不固实不如单文件压

[2014-11-21 13:42] #254 closed, assigned to YanGuam

[2014-11-21 13:44] YanGuam commented on #254
出现问题再reopen

[2014-11-21 13:45] YanGuam commented on #250
出现问题再reopen

[2014-11-21 13:45] #250 closed, assigned to Fsu0413

[2014-11-21 13:46] ainomelody commented on #250
。。。。都出现N次了。。。。

[2014-11-21 13:50] YanGuam commented on #262
皮肤包的设计太复杂了=。=
不知道谁来设计一下。。。

[2014-11-21 13:51] YanGuam commented on #250
我说在beta3出现问题再说，不知道上面修的有没有用。。

[2014-11-21 14:52] zyun7799 opened #270 "断肠双暗只能断到主将"
因为此时主副将同名

[2014-11-21 22:35] Fsu0413 commented on #268
原因：烈弓对每名角色进行结算时，时机为TargetChosen，player为该角色
飞龙结算时，时机同样为TargetChosen，player为拥有飞龙的人

所以标题应为调整TargetChosen时机所有技能的结算

[2014-11-21 22:41] Fsu0413 commented on #268
按理来讲这个问题在加入了TargetChoosing/TargetChosen时机之后就有了啊，为什么0.7.2没人反馈这个

[2014-11-22 02:37] ainomelody opened #271 "张角潜伏，替换为君张角，然后潜伏不能去掉"

[2014-11-22 11:45] Fsu0413 commented on #270
预计处理方法：将暗将变为anjiang_head/anjiang_deputy，而不是现在的anjiang/anjiang

[2014-11-22 18:21] #271 closed, assigned to YanGuam

[2014-11-23 04:03] #264 closed, assigned to YanGuam

[2014-11-23 05:44] lrl026 commented on #267
图没用，要录像

[2014-11-23 07:01] YanGuam commented on #266
问题出现在连续askForUseCard后

[2014-11-23 09:44] YanGuam commented on #266
应该是第二次询问时，调用effectout后，加黑特效的动画还没结束，导致没有再次加上SentBackEffect，所以第三次询问时又正常了。即连续多次询问，奇数次正常，偶数次不正常。
手动暂停RoomThread，给主线程一定时间，bug消失。

[2014-11-23 16:50] #266 closed, assigned to YanGuam

[2014-11-24 11:25] BeginnerSlob commented on #268
。。。其实现在的结算确实有这个问题。。。
举例来说明。

场上按照座次 武将A 烈弓铁骑，武将B 技能X（一名角色指定【杀】的目标后，你可以令该角色摸一），武将A发动方天杀CDEFGHI
现在程序的结算是，先发动X，然后对每名角色询问烈弓+铁骑。
正确结算是，先对CDEFGHI各询问一次烈弓+铁骑，然后轮到B的时候询问X。

总之现在的触发机制还不够完善。

[2014-11-24 11:25] BeginnerSlob commented on #268
期望的解决办法是对触发技加入Target参数，这样可以同步解决多角色颂威+暴虐等问题。

[2014-11-24 12:39] BeginnerSlob commented on #258
加一个。
暗将太史慈找明将队友天义，队友出了一个K。（嗯。

[2014-11-24 12:55] Fsu0413 commented on #268
萌货…………

[2014-11-25 09:58] BeginnerSlob commented on #268
孟获？

[2014-11-25 11:09] ainomelody commented on #67
醉了- -

[2014-11-25 11:11] ainomelody commented on #67
![image](https://cloud.githubusercontent.com/assets/7959436/5181963/c7e464c2-74d6-11e4-87a4-2dc214d4f194.png)

[2014-11-25 11:44] Fsu0413 commented on #268
嗯

[2014-11-25 11:44] ainomelody opened #272 "录像回放中技能预亮后潜伏没去掉"
![qq 20141125194120](https://cloud.githubusercontent.com/assets/7959436/5182292/5442bcbc-74db-11e4-9db8-fa37fd5267a2.jpg)

[2014-11-25 15:16] YanGuam commented on #272
方案一：回放时禁止点按钮
方案二：服务器更新客户端的预亮状态，写入录像文件
方案三：客户端hack，直接写入录像文件

方案二三专为秀操作而准备。

[2014-11-25 16:06] ainomelody commented on #272
。。。。。回放时没点技能按钮。。。。。

[2014-11-26 00:43] lrl026 commented on #67
手牌更有价值

[2014-11-26 00:43] #67 closed, assigned to nobody

[2014-11-26 02:00] takashiro commented on #272
想起选将和观星步骤。
不是“预亮后潜伏没去掉”，而是预亮操作根本不记录在录像里。
准备构思一下主分支改录像这块——Replayer控制界面上的按钮，秀操作= =|||

[2014-11-26 02:02] ainomelody commented on #272
不对啊。。。按钮颜色变了，我没动它。。。

[2014-11-26 02:17] takashiro commented on #272
。。。真的不是因为技能发动了或者亮将了才变的吗。。。

[2014-11-26 02:25] ainomelody commented on #272
应该是玩家预亮了技能，被记录在录像中

[2014-11-26 02:25] takashiro commented on #272
=。=求录像

[2014-11-26 02:34] ainomelody commented on #272
聊天群群文件里。。。dalong传的

[2014-11-26 02:58] takashiro commented on #272
那个是发动【突袭】亮了张辽更新一下技能预亮状态，不是玩家点【奸雄】预亮的时间。
不然手速也是相当快╰(￣▽￣)╮

[2014-11-26 06:50] BeginnerSlob commented on #268
萌货怎么了，没懂。

[2014-11-27 11:32] Fsu0413 commented on #268
比如A拥有两个技能：
技能1：每当你使用一张锦囊牌指定一名角色为目标后，你可以摸一张牌。
技能2：每当你使用一张锦囊牌指定一名角色为目标后，你可以回复1点体力。
现在A B 萌货 C D E F坐在一起
A回合放南蛮，按理来说应该是对B 萌货 C D E F分别技能1212121212，然后轮到萌货在对B结算时祸首
现在的结算是：A回合放南蛮，对B发动12后萌货祸首，再对孟获CDEF发动12121212，就像你在楼上说的那样

[2014-11-28 12:11] lrl026 opened #273 "调整SmartAI:isFriend"
现在判断A，B 2个玩家是否为互为有方时有错
SmartAI:isEnemy可能也要改

现在才发现这个问题，也是醉了

[2014-11-30 09:34] YanGuam commented on #272
@takashiro 没理解   你看看吧

[2014-11-30 09:46] takashiro commented on #272
@YanGuam   我0.0只是设想一下主分支未来的录像功能0.0

[2014-11-30 11:13] #273 closed, assigned to lrl026

[2014-11-30 14:32] ainomelody opened #274 "戮力同心目标错误"
![Image](http://imgsrc.baidu.com/forum/pic/item/a128a351f3deb48f7266be8af31f3a292cf578ad.jpg)

[2014-11-30 14:46] ainomelody opened #275 "方天不能指定香香"
![Image](http://imgsrc.baidu.com/forum/pic/item/dd1935dbb6fd52667ae2c141a818972bd60736e8.jpg)

[2014-12-01 03:07] #272 closed, assigned to YanGuam

[2014-12-01 04:57] Fsu0413 commented on #275
fixed by BeginnerSlob

[2014-12-01 04:57] #275 closed, assigned to BeginnerSlob

[2014-12-01 04:58] Fsu0413 commented on #274
fixed by BeginnerSlob

[2014-12-01 04:58] #274 closed, assigned to BeginnerSlob

[2014-12-01 13:31] Fsu0413 opened #276 "小乔对贾诩使用黑桃（红颜）兵粮寸断，会被贾诩取消"
经查问题出现在Room::updateCardsOnGet()函数中。
此问题如果想修复的话，需要更改此函数，不过因为所有卡牌移动过程都走的这个函数，可能影响到所有的卡牌移动，尤其是与判定区相关的卡牌移动影响最大。

[2014-12-01 14:38] Fsu0413 commented on #276
lrl的建议是先改掉然后出问题再说，不过我不想改这部分，对程序影响太大，所以我想问问大家的意见。

[2014-12-01 15:34] lrl026 commented on #276
这个只是影响客户端显示吧？

[2014-12-02 01:29] lrl026 commented on #276
还有黑桃的铁锁，这个问题有点麻烦啊

[2014-12-03 23:41] Fsu0413 commented on #276
不清楚，我 现在暂时没时间改，等有空再说吧

[2014-12-06 23:51] Fsu0413 opened #277 "巧变被跳过阶段"
参考规则集40页关于巧变和兵粮的说明。
我们是不是应该改改

[2014-12-07 00:55] Fsu0413 commented on #270
fixed

[2014-12-07 00:55] #270 closed, assigned to Fsu0413

[2014-12-07 10:55] YanGuam commented on #277
求详情

[2014-12-07 10:57] YanGuam commented on #262
压单文件吧。 但是我还是不赞成默认开启自动保存录像，除非自动上传至服务器。

[2014-12-07 10:58] YanGuam commented on #256
@lrl026 有用吗

[2014-12-07 11:01] lrl026 commented on #256
有用

[2014-12-07 11:01] #256 closed, assigned to nobody

[2014-12-07 14:24] Fsu0413 commented on #277
bug贴45l

[2014-12-07 14:33] BeginnerSlob opened #278 "游戏途中无法改变BGM大小或者开关BGM"

[2014-12-10 12:14] ainomelody opened #279 "同一角色被断肠两次"
第一次断主将，第二次断副将时主将技能会回来

[2014-12-13 06:53] #279 closed, assigned to BeginnerSlob

[2014-12-19 14:27] ainomelody opened #280 "AI各种双杀。。。"
1、座次关系为孙尚香/周瑜（四号位），暗将（六号位，装备了三尖两刃刀），曹丕/徐晃（七号位）。被借刀时暗将同时指定2个目标
![Image](http://imgsrc.baidu.com/forum/w%3D580/sign=eb797f4c2b34349b74066e8df9eb1521/cbf9d80735fae6cdb5dd35370cb30f2443a70f49.jpg)
2、![Image](http://imgsrc.baidu.com/forum/pic/item/cbd83c4e251f95ca89ab51e1ca177f3e66095259.jpg)

[2014-12-20 14:13] lrl026 commented on #280
已经修复了，应该不会再出现

[2014-12-20 14:13] #280 closed, assigned to lrl026

[2014-12-21 02:27] #278 closed, assigned to YanGuam

[2014-12-29 04:50] Fsu0413 commented on #269
今天的修复可能会起作用……等下个版本看看有没有人反馈吧，没人反馈的话正式版就关了

[2014-12-30 15:29] YanGuam commented on #269
@QSanguosha/test-team 把ai-selector/general-value.txt里的huangyueying后面的数字改成100，然后在游戏中注意观察ai使用月英是否有楼上提及的bug
要求观察ai月英对距离1以上角色使用兵粮10次以上。

[2015-01-06 07:40] YanGuam commented on #277
![](http://imgsrc.baidu.com/forum/w%3D580/sign=447f0b4473cf3bc7e800cde4e101babd/469e5d0fd9f9d72a432fe754d72a2834359bbb06.jpg)
投票吧。。

[2015-01-06 07:41] YanGuam commented on #277
我支持改

[2015-01-06 07:44] YanGuam commented on #262
我的想法：
1.录像单文件压缩
2.beta版录像在得到授权后全部上传至服务器，写个简易的服务端分类接收录像

[2015-01-06 08:11] YanGuam commented on #269
1月2日的源码版本问题重现
![qq 20150106161112](https://cloud.githubusercontent.com/assets/3531837/5625896/adf74bf2-95be-11e4-97bf-455c8e86d768.jpg)
![qq 20150106161120](https://cloud.githubusercontent.com/assets/3531837/5625897/ae00423e-95be-11e4-860b-9c9e125cef02.jpg)

[2015-01-06 08:12] YanGuam commented on #269
@MogaraOrg/test-team 测试任务取消

[2015-01-06 08:20] BeginnerSlob commented on #268
于是现在找到了颂威暴虐的解决办法。但是随着铁烈结算的修改。出现了新的不可预期的问题。

[2015-01-06 08:46] BeginnerSlob opened #281 "关于铁烈*3+激昂三技能同时机的TriggerOrder的UI"
首先说一下结算。
不计激昂的情况下。
铁烈*3的排列组合方式有6!/3!/3!
6!表示6个技能随意排列组合。
两个3!分别代表了一个额外规则。即铁B不能于铁A前被触发（C同理）
即铁AB烈ABC铁C是合法的。
即铁AC烈ABC是合法的。
即铁AC烈ABC铁B是不合法的。
然后激昂可以于以上六个技能前后任意触发。
即7!/3!/3!
楼下简述UI策划

[2015-01-06 08:48] BeginnerSlob commented on #281
TriggerOrder中同时显示7个技能的按钮与取消按钮。
如果把鼠标移动到铁A或烈A皆可
若移动到铁B则铁A变暗表示失效
移动到铁C则铁AB变暗表示失效

楼下简述传输接口

[2015-01-06 08:52] BeginnerSlob commented on #281
考虑到颂威等用 skillName!sgs1 这样来传输
这里可以用到 skillName!sgs8+sgs1+sgs5 这样
若检测到!且split("+")的length不为1，则传入TriggerOrder时用如下代码
skillName!sgs8&1
skillName!sgs1&2
skillName!sgs5&3
这样来表示
TriggerOrder的UI可以用于检测结尾两位
startsWith“&” && 末位为Number
然后检测!前的所有内容，和末尾的数字，前面吻合且末位数字小于鼠标停留的button，则变暗。

[2015-01-06 09:04] Fsu0413 commented on #281
太长不看

[2015-01-06 09:05] BeginnerSlob commented on #281
好一个太长不看

[2015-01-06 09:17] YanGuam commented on #242
个人认为应考虑马术亮将问题了。
1.你选择目标时：包括杀（乱武）、顺、兵、潜袭。
若吴魏有马术：强袭、短兵。
2.判断技能发动条件时：目前只有狂骨。
个人认为其他角色选择目标时（借刀）发动马术不合逻辑。
奇才红颜都超越OL了，马术可以吗？
--by zjznj

[2015-01-06 09:42] YanGuam commented on #281
= = 我请求先改好传输协议，不然不太好测试

[2015-01-06 10:46] BeginnerSlob commented on #281
哦。那我马上改。

[2015-01-06 10:46] BeginnerSlob commented on #281
为什么只能关联一个人。。

[2015-01-06 10:50] BeginnerSlob commented on #277
巧变从最开始就是单消耗。。当初这么写是为了防止误操作。（我在贴吧原帖的原话）

[2015-01-06 10:52] BeginnerSlob commented on #242
马术不可以- -因为有客户端的部分。。
除非和.NET一样把card的targetfilter放到服务端上

[2015-01-06 11:05] YanGuam commented on #242
.NET是怎么设计的呢？

[2015-01-06 16:28] Fsu0413 commented on #281
确实只能关联一个人，太诡异了

[2015-01-07 08:01] #281 closed

[2015-01-07 08:01] #268 closed

[2015-01-07 08:02] BeginnerSlob commented on #242
点选卡牌通知服务端，服务端计算卡牌选择的合法性，返回合法目标，客户端点选一个目标后，再传入服务端，以此类推， 直至点击下确定按钮。

[2015-01-07 08:04] BeginnerSlob opened #282 "TriggerOrderBox优化"
弹出选框的时候增加参数left_times
比如一次掉3血，发动遗计时。窗口显示
遗计 x 3
发动一次后变为
遗计 x 2
默认x1不显示。

[2015-01-07 08:04] BeginnerSlob commented on #282
晚点我来。

[2015-01-07 08:50] YanGuam commented on #242
貌似不错啊？   强效防数据包hack，还能和AI系统整合

[2015-01-07 09:10] BeginnerSlob commented on #242
但是这样会增加程序的网络访问频率。但是好处是可以防止截包作弊。

[2015-01-07 10:34] YanGuam commented on #269
@MogaraOrg/test-team 继续测试吧。。。    每遇到一局传一个录像，总共10次就行了。。如果中途bug了，反馈一下，然后中断测试。

[2015-01-07 10:50] #282 closed

[2015-01-07 23:43] #277 closed

[2015-01-07 23:44] BeginnerSlob commented on #276
黑桃的铁索没问题。。。
乐是因为官方萨比规定：延时锦囊进入判定区后花色复原。

[2015-01-08 07:26] BeginnerSlob opened #283 "UI：TriggerOrder非武将技能会被关联上头像"
如：
崩坏
英姿 英魂
勇决

等。

[2015-01-08 07:30] BeginnerSlob commented on #283
解决方案（暂）：（下方括号内的数字代表triggerlist返回值中字符串的类型）
1、武将技能显示武将头像。(1,3)
2、自身技能但非武将技能不显示头像。(1,3)
3、其他角色技能显示技能拥有者主将的头像。(2)

第三条可以改为技能拥有者的头像，但是考虑到其他角色额外获得的技能，会和自身额外的技能一样不易区分。所以定为现在这个样子。

[2015-01-08 07:35] BeginnerSlob commented on #283
@Fsu0413 @YanGuam @takashiro @ainomelody
来说说观点

[2015-01-08 12:05] YanGuam commented on #283
3其他角色技能在右侧显示头像。

[2015-01-08 13:29] BeginnerSlob commented on #283
你这样还是不能区分其他角色获得的技能和自己额外获得的技能，因为都是黑的

[2015-01-08 15:04] YanGuam commented on #283
其实可以做个特别的icon代替头像

[2015-01-08 23:15] BeginnerSlob commented on #283
他们有提议画一个，就是同时出现主将副将，副将放在右下角，主将放在左上角，size相同，重叠部分面积为单个头像的四分之一，重叠部分主将在上。

[2015-01-09 11:37] Fsu0413 commented on #283
英姿英魂在孙策获得的时候，是特定角色相关，所以以我的想法是加上孙策的头像比较好。
勇决是角色无关，但是和糜夫人的技能相关，所以我的建议是加上糜夫人的头像。

至于其他的技能，比如发动其他人的技能，放上其他人的头像。
原因未知的附加技能（比如作弊代码handleAcquireDetachSkills），加上自己的头像。
双将的情况，主副将都显示，左右各一半。

[2015-01-09 15:07] BeginnerSlob commented on #283
之前他们和我谈的时候我也是这么回答的，然后他们问我董卓获得崩坏然后被断肠怎么办？
明明是个白板董卓，看起来还有崩坏，我仔细的想了想确实不太好。

[2015-01-10 08:17] takashiro commented on #262
那这issue就移交主线？收集录像的功能加入收集BUG的服务器端？

[2015-01-10 12:11] YanGuam commented on #262
可以先实现压缩的吧？

[2015-01-10 12:16] takashiro commented on #262
发现已经有png格式是qCompress压缩的了  0.0

[2015-01-10 12:17] YanGuam commented on #283
支持虫妹。 不过有够小的。。

[2015-01-10 12:20] YanGuam commented on #262
以png格式保存确实比较奇怪= =     想必没什么人用。。不如把qsgs压缩，在录像文件开始处标注是否经过压缩，然后分情况处理录像，png的奇怪格式就不要再用了。

[2015-01-10 12:33] takashiro commented on #262
OK

[2015-01-11 02:20] Fsu0413 commented on #283
董卓获得崩坏然后断肠，确实还有崩坏，不过因为角色相关还是画上董卓的头像更好些吧……

[2015-01-11 04:15] BeginnerSlob commented on #283
@YanGuam 关于如何同时显示双将的问题还有待确定- -毕竟位置就这么点。。比如并排显示两个？

[2015-01-12 10:44] takashiro opened #284 "其他人发动蒋钦的【鸟翔】时程序崩溃"
Console出现提示no such skill niaoxiang->sgs***

[2015-01-12 10:57] #284 closed

[2015-01-18 15:38] Fsu0413 commented on #259
未发现，关了

[2015-01-18 15:38] #259 closed

[2015-01-18 15:38] Fsu0413 commented on #269
好像最近好了……大家发现没有

[2015-01-18 15:40] Fsu0413 commented on #276
wontfix……萨比设定

[2015-01-18 15:40] #276 closed

[2015-01-18 15:47] Fsu0413 commented on #242
wontfix关了

[2015-01-18 15:47] #242 closed

[2015-01-18 15:48] Fsu0413 commented on #246
完成了么

[2015-01-18 15:48] Fsu0413 commented on #262
可以开启了么

[2015-01-18 15:48] Fsu0413 commented on #283
进度怎样

[2015-01-18 15:49] Fsu0413 commented on #267
图没用，关了

[2015-01-18 15:49] #267 closed

[2015-01-18 15:49] Fsu0413 commented on #258
进度怎样

[2015-01-18 15:53] lrl026 commented on #258
最近很忙，没时间

[2015-01-18 16:00] lrl026 commented on #246
没时间弄

[2015-01-18 16:05] YanGuam commented on #283
我再想想

[2015-01-18 16:18] Fsu0413 commented on #246
关了

[2015-01-18 16:18] Fsu0413 commented on #258
那就关了，要发版了

[2015-01-18 18:03] YanGuam commented on #262
新架构附带的崩溃汇报器升级，传崩溃信息和录像。其中测试版默认自动传录像到服务器。

[2015-01-18 18:03] #262 closed

[2015-01-18 18:04] YanGuam commented on #258
先放着

[2015-01-18 18:04] YanGuam commented on #246
以后再弄

[2015-01-18 23:41] Fsu0413 commented on #283
不行就关，等新架构再做，反正这个已经确定要放弃了

[2015-01-19 13:33] YanGuam commented on #283
转移到新架构吧，触发顺序的分类也是。= =
现在特别厌恶用C++写UI。

[2015-01-19 13:33] #283 closed

[2015-02-03 12:42] iDingDong opened #285 "多次触发技能提示字体问题"
http://tieba.baidu.com/p/3555358729?pn=2 41楼

![](http://imgsrc.baidu.com/forum/pic/item/1af105f7905298225416a1e2d3ca7bcb0a46d438.jpg)

[2015-02-05 03:16] iDingDong opened #286 "无手牌木牛流马有牌鬼才鬼道不能发动"
http://tieba.baidu.com/p/3555358729?pn=2 57楼

[2015-02-05 03:16] iDingDong commented on #286
已修复，一会关了

[2015-02-05 03:37] #286 closed

[2015-02-05 03:40] iDingDong opened #287 "AI二张用对有木牛流马的角色直谏玉玺"
http://tieba.baidu.com/p/3555358729?pn=2 56楼

录像：http://pan.baidu.com/s/1hqf78PY

[2015-02-07 06:49] iDingDong opened #288 "固政后续效果含“可以”没有提供选择权"
http://tieba.baidu.com/p/3555358729?share=9105&fr=share 57楼

[2015-02-07 09:51] Fsu0413 commented on #288
62楼被删了，关

[2015-02-07 10:03] Fsu0413 commented on #288
卧槽叮咚你误导我…………明明不是62楼是57楼

[2015-02-07 10:04] iDingDong commented on #288
我的客户端显示62楼=_=一会去更新

[2015-02-07 10:26] Fsu0413 commented on #288
…………别解释，你就是在误导我

[2015-02-07 10:54] iDingDong commented on #288
明明是百度的锅=_=
57 62都可能

[2015-02-07 10:56] FuNiMa commented on #288
简直可怕
62路过

[2015-02-09 10:45] iDingDong opened #289 "君张角先亮副将群势力提前获得弘法"
http://tieba.baidu.com/p/3555358729?pn=2
防止楼层混乱用截图：
![sshot-1](https://cloud.githubusercontent.com/assets/5336608/6104809/d062fd3e-b08b-11e4-827e-ecd23182ef0f.png)

[2015-02-09 11:01] iDingDong opened #290 "点击弘法后选牌过程中点选其他视为技导致错误"
http://tieba.baidu.com/p/3555358729?pn=2
防止楼层混乱用截图：
![sshot-2](https://cloud.githubusercontent.com/assets/5336608/6105053/26f467da-b08e-11e4-9024-16e9ee33484a.png)
![sshot-3](https://cloud.githubusercontent.com/assets/5336608/6105054/26ff4ea2-b08e-11e4-8ae9-9872813ddf09.png)

[2015-02-09 12:11] iDingDong commented on #288
已修复，关了

[2015-02-09 12:11] #288 closed

[2015-02-09 12:51] iDingDong commented on #289
已修复，关了

[2015-02-09 12:51] #289 closed

[2015-02-19 02:06] Fsu0413 commented on #260
bug重现

[2015-02-26 16:57] Fsu0413 opened #293 "马超方天+流离导致的铁骑无效问题"
马超装备方天，酒杀大乔和孔融，大乔流离给孔融，马超判断两个杀都是红色，按道理孔融 应该两个杀都不能闪吧？但是闪了其中一个杀，好像是闪了流离的那个杀。

不知道是bug还是我不了解结算的伪bug。

------具体如下：
马超/姜维 发动了【方天画戟】效果
马超/姜维 使用了 杀[2]，目标是 暗将/大乔, 孔融/何太后
暗将/大乔 发动了“流离”弃置了 闪[4]，目标是 孔融/何太后
马超/姜维 发动了“铁骑”
马超/姜维 的判定牌为 闪[10]
马超/姜维 的判定结果为 闪[10]
孔融/何太后 不能使用【闪】响应此【杀】
马超/姜维 发动了“铁骑”
马超/姜维 的判定牌为 闪[9]
马超/姜维 的判定结果为 闪[9]
孔融/何太后 不能使用【闪】响应此【杀】
马超/姜维 使用【酒】，对 孔融/何太后 造成的伤害从 1 点增加至 2 点
马超/姜维 对 孔融/何太后 造成了 2 点伤害

[2015-02-26 16:58] Fsu0413 commented on #293
初步分析了下，这个bug需要从服务器改到客户端，从客户端改回服务器，超级麻烦，我表示已经疯掉

[2015-04-26 02:24] Xusine1131 opened #295 "技能发动频率而引起的UI错误"
如果（Lua）技能发动频率不为NotFrequent或者Wake则会出现各种技能按钮消失。
该问题在1.1.0之前没有体现。

[2015-04-26 02:39] #295 closed

[2015-05-03 03:50] Xusine1131 opened #297 "Room::doDragonPhoenix的一点问题"
这个函数是为了简化飞龙而设计的。
现在的问题是亮将不正确，比如说使用副将的技能会亮出主将。
有时候主将会获得武将上明确标明的副将技。
暂时的问题就这些，说不好有其他的小问题。

[2015-05-09 04:02] zyun7799 commented on #287
目测在完善SmartAI:getSameEquip函数后已经解决这个问题了，close

[2015-05-09 04:02] #287 closed

[2015-05-23 09:35] xusine commented on #285
已经修复

[2015-05-23 09:36] #285 closed

[2015-05-23 17:48] Fsu0413 commented on #297
大至急求修复
飞龙目前问题超多，包括飞龙摸上来的一张牌都会被弃掉。
棺材的Lua目前还有闪退问题，周日一起解决。

周日Release因此取消，周一再Release。

[2015-05-23 17:51] Fsu0413 commented on #297
【老A闲着没事不呱】【皮卡丘】Fsu0413fsu0413@mogara.org 2015-05-24 0:23:00
飞龙本身崩不崩
怪蜀黍RuGaL(35152531) 2015-05-24 0:38:18查看前后消息
飞龙夺凤正常
【老A闲着没事不呱】【皮卡丘】Fsu0413fsu0413@mogara.org 2015-05-24 0:42:44
飞龙没问题那就先发了再说，那个函数到时候再修，发1.2.1
怪蜀黍RuGaL(35152531) 2015-05-24 1:44:44
@【老A闲着没事
飞龙夺凤虽然没崩，但还是有问题的
死亡奖励还是正常结算，复活后摸的那一张牌也被弃掉

[2015-06-19 12:31] Xusine1131 opened #298 "新一轮的AI汇总"
大部分问题都转自贴吧反馈贴，适用于1.2.0
由于鄙人在AI方面并没有太大的研究，所以希望大家一起来解决。
@zyun7799 正切有时间的话帮忙处理一下。
1.国战无懈可击问题，对应反馈贴的13楼，同时火诸葛手憋无懈可击的问题。
2.黄盖自杀的决心很大了，计算用曹丕依然死的深沉，对应反馈贴问题14楼。
3.荀彧盲目驱虎，对应反馈贴15楼。
4.夏侯渊、陆逊盲目神速和以逸待劳，大概需要限制一下，对应反馈贴18楼。
5.远交近攻的目标不得当，对应反馈贴19楼。
6.大乔流离和自己绑在一起的玩家……对应反馈贴20楼。
7.暗将不能意识到自己即将成为野心家……这个难度看似比较大，对应反馈贴26楼。

[2015-07-12 09:47] 36li opened #300 "水阉七军男性配音缺失已提取"
http://pan.baidu.com/s/1bn9AU7P

[2015-07-14 01:37] xusine commented on #300
感谢

[2015-07-14 01:37] #300 closed

[2015-07-23 13:42] Alehap opened #304 "Error when build complete"
Hello,
Please help me to fix this error
![23-07-2015 8-41-22 ch](https://cloud.githubusercontent.com/assets/7158050/8851692/4faf7624-317b-11e5-8c75-662c26211ef4.png)

I'm using Qt 5.4.2 with swig 3.0.6

Thank you too much

[2015-07-24 11:27] xusine commented on #304
It seems that you don't run the linguist before to generate translaton files.
But this doesn't matter. You can find the game in Bin folder.

[2015-07-25 17:25] Alehap commented on #304
Thank you so much!

[2015-07-25 17:27] Alehap opened #305 "vld_x86 missing"
Hello,
I've got this error after successful build.
![26-07-2015 12-23-07 sa](https://cloud.githubusercontent.com/assets/7158050/8890489/ec40cecc-332c-11e5-8d8e-3bd572663195.png)
When I coppied it from vld_essentials\win32 this error show up
![26-07-2015 12-26-27 sa](https://cloud.githubusercontent.com/assets/7158050/8890496/0614af44-332d-11e5-8bae-b621f62d232e.png)

Please help me to fix this prob

[2015-07-25 17:28] Alehap commented on #305
BTW, how I can build with release mode (use Qt5Core.dll instead of Qt5Cored.dll)
Thank you too much!

[2015-07-26 03:36] Fsu0413 commented on #305
debug mode is broken. use the release mode so that the program can run properly.

[2015-07-26 03:36] #305 closed

[2015-07-26 03:36] #304 closed

[2015-07-26 03:37] #260 closed

[2015-07-26 03:38] #290 closed

[2015-07-26 03:38] #269 closed

[2015-07-26 03:39] Fsu0413 commented on #297
@Xusine1131 这个没问题就关了吧

[2015-09-30 14:42] Alehap opened #309 "How to add new hero-skin"
Hello,
I've tried to add new general's skin in hero-skin folder.
I've created a subfolder named "caiwenji", and it has 2 more sub folder with named "1" and "2" (skinid) for two skins.
In each skinid folder, I've put 3 files avatar.png, card.jpg and full.png like the sample.

When I'm playing game, I can see the hero-skin-change-icon, I can click to new skin which I've added.
But then, My QSanguosh

[2015-10-01 01:01] xusine commented on #309
Do you add the lua translation file like zh_CN.lua ?

[2015-10-01 01:24] Alehap commented on #309
Hello Xusine,
I don't add any lua translation files, only 3 files like avatar.png, card.jpg and full.png.
Do I missed it?

Thank you.

[2015-10-01 02:15] xusine commented on #309
@Alehap
I think you should.  Refer to the example and try to add one.（Maybe it's difficult for you to understand the Chinses :) ）

[2015-10-01 02:31] Alehap commented on #309
Thank you @Xusine1131, I'll try this solution.
BTW how can I modify the general's skill like the sanguosha.com and is it possible to merge QSanguosha V2 and this project?
Thank you too much^^

[2015-10-01 02:39] xusine commented on #309
@Alehap You'd better not pay too much attention to DIY in Hegemony.
The Hegemony‘s Skill API is totally different from that of V2.
At the same time, Mogara is trying to merge the V2 and Hegemony by creating a new framework.
https://github.com/Mogara/QSanguosha-New-Framework
If you're interested in new framework and want to develop it, you can just join Mogara.
@sunnylife He is our master now, you

[2015-10-01 02:46] Alehap commented on #309
Oh thank you too much @Xusine1131  ^^

[2015-10-01 03:03] xusine commented on #309
@Alehap
Do you use QQ International ? If so, we can communicate with each other more conveniently.

[2015-10-01 03:23] Alehap commented on #309
@Xusine1131 Sorry, I'm not use QQ, but I've a Skype account.
My developer skill isnot good, so I afraid that I cannot help you to develope this project :(

[2015-10-01 05:08] Fsu0413 commented on #309
@alehap Do you have a WeChat account? Since Skype is hardly used in Chinese.

[2015-10-01 05:10] Alehap commented on #309
Hello @Fsu0413 , I don't have any Chinese Account.
But I'll try to register a QQ account soon.
Then I'll repost my QQ account in here.

[2015-10-01 06:40] Alehap commented on #309
Hello
My QQ number is: 1219059541

[2015-10-01 08:13] MagicPro1994 commented on #309
I wonder why we need to change the skin of the heroes in Guozhan Mode...

[2015-10-02 05:42] Fsu0413 commented on #309
because OL does so.

[2015-12-10 03:39] #309 closed

[2015-12-10 03:39] #258 closed

[2015-12-10 03:39] #246 closed

[2015-12-10 03:40] Fsu0413 commented on #293
新框架再说

[2015-12-10 03:40] #293 closed

[2015-12-10 03:40] #297 closed

[2015-12-10 03:40] Fsu0413 commented on #298
新框架再说

[2015-12-10 03:40] #298 closed

[2015-12-23 02:10] Single34 opened #315 "装备方天画戟后「杀」时不能选择多个角色"
如题。

[2015-12-25 23:51] Fsu0413 commented on #315
点方天杀

[2015-12-25 23:51] #315 closed

[2016-10-15 14:14] mromm opened #317 "编译出错了"
error: Unknown module(s) in QT: declarative
win7 x64 Qt 5.7.0 MinGw

注释掉!winrt:QT += declarative就没事了

[2016-10-17 17:53] #317 closed

[2017-07-06 11:57] gsxab opened #323 "一些关于AI的故障+一些建议修改的地方"
1. 版本2.0.0的AI有个问题，诸葛亮观星牌若第一张是判定牌，这张牌有可能因为在观星前亮诸葛亮或另一张武将而成为半血补牌导致判中乐或兵
2. AI对待野心家或是野心家时的立场有时很奇怪，某些时候似乎会把对应国家的非野心家作为队友
3. 被调虎离山的角色死亡（调虎+反间或调虎+天香或调虎+铁索传导），则其一直是模糊的
4. 连环状态的角色死亡，如果使用作弊复活依然连环状态
5. 前面好像有人反映过，主将姜维在没有亮姜维时会出现类似阵法技的特效，即使在一个也没亮时。
ps. 最近在做一个mod，有点小问题要问：想问一下源码中在各种过滤，比如转化技的cardFilter和要求弃置手牌的h的时候如何区分手牌和木牛流马下的牌

[2017-07-06 11:57] gsxab commented on #323
以上说的都是2.0.0的那个版本

[2017-08-16 01:29] weirdouncle opened #324 "操作超时的问题"
1、因网络延迟和各种原因，服务器端的超时肯定早于客户端，即使服务器端计时增加了1秒
2、因服务器端早已关闭数据请求，客户端的超时操作没有意义，而且往往交互界面还没有关闭，服务器又发送了新的数据，客户端甚至有可能错误的返回了超时操作指令。是否超时应由服务器端通知，客户端的计时条仅作显示。
3、基于以上述情况，观星等交互方式也存在问题。观星的每个步骤应该都是有效的操作，然而操作结果仅保存在客户端，一旦发生超时，超时前的操作就全部作废。

[2018-01-14 12:50] #323 closed

[2019-09-03 05:04] karma-sun opened #325 "项目不维护了?"

[2019-09-13 20:58] Fsu0413 commented on #325
我退出之后好像基本没人维护了。。。。
棺材和数字在两年前还传代码来着，现在也都不管了

[2022-01-11 06:57] #325 closed